@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    display: flex;
    padding: 0 0 4rem;
    max-width: 100%;
    align-items: center;
    background-color: var(--c--gray-lighter);

    &:first-child {
        padding-top: 2rem;
    }

    @media (--mq-gt-s) {
        padding: 2rem 0 5rem;

        &:first-child {
            padding-top: 4rem;
        }
    }
}

.innerContainer {
    @mixin container;

    padding: 0 1rem;
    text-align: center;

    & h2,
    & p {
        padding: 0 1rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    @media (--mq-s) {
        & h2 {
            font-size: var(--t--size-lm);
        }
    }

    @media (--mq-gt-s) {
        & p {
            margin: 0 auto 2.5rem;
            max-width: 50%;
            font-size: var(--t--size-m);
        }
    }
}
