@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    display: flex;
    padding: 0 0 4rem;
    max-width: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: -25% 50%, 125% 50%;

    @media (--mq-s) {
        background-size: 75%;
        background-position: -200% 0, 300% 0;
    }

    &:first-child {
        padding-top: 2rem;
    }

    @media (--mq-gt-s) {
        padding: 2rem 0 5rem;

        &:first-child {
            padding-top: 4rem;
        }
    }
}

.innerContainer {
    @mixin container;

    padding: 0 1rem;
    text-align: center;

    & h2 {
        padding: 0 1rem;
    }

    & p {
        margin-bottom: 1rem;
        padding: 0 2rem;
    }

    @media (--mq-s) {
        & h2 {
            font-size: var(--t--size-lm);
        }
    }

    @media (--mq-gt-s) {
        & p {
            margin: 0 auto 2.5rem;
            padding: 0 1rem;
            max-width: 50%;
            font-size: var(--t--size-m);
        }
    }
}
