@import 'constants/color';
@import 'constants/type';

.default {
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: var(--t--weight-bold);
    background-color: var(--c--gray-lighter);
    cursor: pointer;

    &.fixed {
        position: fixed;
        right: 0;
        left: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1.5rem;
        width: 0;
        height: 0;
        margin: auto 0;
        vertical-align: middle;
        border-top: 7px solid transparent;
        border-right: 9px solid var(--c--black);
        border-bottom: 7px solid transparent;
        opacity: 0.4;
    }
}

.brand--yellow {
    composes: default;
    background-color: var(--c--yellow);
}

.brand--yellow_light {
    composes: default;
    background-color: var(--c--yellow-light);
}

.brand--blue {
    composes: default;
    color: var(--c--white);
    background-color: var(--c--blue);
}

.brand--blue_light {
    composes: default;
    background-color: var(--c--blue-light);
}

.brand--green {
    composes: default;
    background-color: var(--c--green);
}

.brand--gold {
    composes: default;
    background-color: var(--c--gold);
}

.brand--green_light {
    composes: default;
    background-color: var(--c--green-light);
}
