@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;

    &.visible {
        pointer-events: auto;
    }

    @media (--mq-gt-s) {
        display: none;
    }
}

.head {
    display: flex;
    position: relative;
    height: 60px;
    padding: 0 0.5rem 0 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c--white);
    border-bottom: 2px solid var(--c--gray-lighter);
    pointer-events: auto;
}

.ecomm {
    z-index: var(--l--z-highest);

    & svg {
        width: 24px;
        height: 24px;
        fill: var(--c--black);
        vertical-align: middle;

        &:first-child {
            margin-right: 1rem;
        }
    }
}

.logo {
    position: absolute;
    right: 0;
    left: 0;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    z-index: var(--l--z-higher);

    & svg {
        width: 72px;
        height: 51px;
    }
}

.toggleWrap {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: var(--l--z-highest);
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 28px;
    height: 2px;
    background: var(--c--black);
    border-radius: 2px;
    transform: translateY(18px);

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: var(--c--black);
        border-radius: 2px;
    }

    &::after {
        transform: translateY(-7px);
    }

    &::before {
        transform: translateY(7px);
    }

    &.active {
        background: transparent;

        &::after {
            transform: translateY(0) rotate(45deg);
        }

        &::before {
            transform: translateY(0) rotate(-45deg);
        }
    }
}

.drawer {
    position: relative;
    height: calc(100vh - 60px);
    background-color: var(--c--white);
    transform: translateX(100vw);
    transition: transform 200ms ease-in-out;
    overflow: hidden;

    &.visible {
        transform: translateX(0);
        overflow-y: visible;
    }
}

.enter-right {
    transform: translateX(100vw);
}

.enter-right-active {
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
}

.enter-left {
    transform: translateX(-100vw);
}

.enter-left-active {
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
}

.leave-right {
    transform: translateX(0);
}

.leave-right-active {
    transform: translateX(100vw);
    transition: transform 200ms ease-in-out;
}

.leave-left {
    transform: translateX(0);
}

.leave-left-active {
    transform: translateX(-100vw);
    transition: transform 200ms ease-in-out;
}
