@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    width: 100%;
    margin-bottom: 1rem;

    @media (--mq-gt-s) {
        width: calc(33.33% - 1rem);
        margin: 0 0.5rem 1rem;
    }
}

.image {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.title {
    margin-bottom: 0.5rem;
    color: var(--c--black);
    text-align: center;
}

.meta {
    margin-bottom: 0;
    font-size: var(--t--size-xs);
    color: var(--c--black);
    text-align: center;
}
