@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: var(--c--white);

    & .drawer {
        position: fixed;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        background: var(--c--white);
        transform: translateX(100vw);

        &.visible {
            transform: translateX(0);
        }

        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }

    @media (--mq-gt-s) {
        display: none;
    }
}

.head {
    display: flex;
    height: 60px;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--c--gray-lighter);

    @media (--mq-gt-s) {
        height: 96px;
        justify-content: center;
        border-top: 4px solid var(--c--blue);
    }
}

.logo {
    height: 80%;
    margin-left: -10px;
    z-index: 9999;

    & img {
        max-height: 100%;
    }
}

.toggleWrap {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;

    @media (--mq-gt-s) {
        display: none;
    }
}

.toggle {
    position: relative;
    width: 28px;
    height: 2px;
    background: var(--c--black);
    border-radius: 2px;
    transform: translateY(18px);

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: var(--c--black);
        border-radius: 2px;
    }

    &::after {
        transform: translateY(-7px);
    }

    &::before {
        transform: translateY(7px);
    }

    &.toggleActive {
        background: transparent;

        &::after {
            transform: translateY(0) rotate(45deg);
        }

        &::before {
            transform: translateY(0) rotate(-45deg);
        }
    }
}
