@import 'constants/color';

.products {
    display: flex;
    padding: 0.75rem 5%;
    justify-content: center;
    background-position: -100px 50%, calc(100% + 100px) 50%;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
}

.product {
    flex-basis: 25%;

    & a {
        color: var(--c--black);
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    & a + a {
        margin-left: 1rem;
    }
}

.imageWrap {
    display: flex;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.seeAll {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-self: center;
}
