@import 'constants/color';

.products {
    display: flex;
    height: 75%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.product {
    padding: 0 2rem;
    text-align: center;

    & img {
        display: block;
        margin: 0 auto;
        max-width: 125px;
    }

    & a {
        color: var(--c--black);
    }
}
