@import 'constants/color';

.container {
    display: flex;
    margin: 1% 1rem 0 0;
    align-items: center;
    cursor: pointer;
}

.stars {
    display: block;
    width: 120px;
    overflow: hidden;

    & span {
        padding: 0 1.5%;

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }

    & svg {
        width: 20px;
        height: 17px;
    }
}

.reviewCount {
    & p {
        margin: 0;
    }
}
