@import 'constants/grid';
@import 'constants/color';

.container {
    display: flex;
    position: relative;
    height: 45rem;
    padding-top: 4rem;
    background-color: var(--c--gray-dark);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    & p,
    & img,
    & h2 {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    & img {
        display: block;
        margin-bottom: 2rem;
    }

    & p {
        margin-bottom: 0;
        padding: 0 1rem;
        max-width: 40rem;
    }
}

.tagline {
    margin-bottom: 2rem;
    max-width: 30vw;
    font-size: 5rem;
    font-weight: 900;
}

.innerContainer {
    @mixin container;
}
