@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

.container {
    display: flex;
    position: relative;
    height: 100vh;
    padding-top: 7rem;
    background-color: var(--c--gray-dark);
    background-size: fill;
    background-position: 50% 0;
    overflow: hidden;

    & p,
    & img,
    & h2 {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    & img {
        display: block;
        margin-bottom: 2rem;
        max-width: 90vw;
    }

    & p {
        margin-bottom: 0;
        padding: 0 1rem;
    }

    @media (--mq-gt-s) {
        height: 45rem;
        padding-top: 4rem;
        background-size: cover;
        background-position: center;

        & p {
            max-width: 40rem;
            font-size: var(--t--size-m);
        }
    }
}

.tagline {
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: 900;

    @media (--mq-gt-s) {
        max-width: 50vw;
        font-size: 5rem;
    }
}

.innerContainer {
    @mixin container;
}
