@import 'constants/grid';
@import 'constants/color';

.container {
    display: flex;
    position: relative;
    height: 80vh;
    align-items: center;
    background-color: var(--c--gray-dark);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    & p,
    & .tagline {
        margin-right: auto;
        margin-left: auto;
        color: var(--c--white);
        text-align: center;
    }

    & p {
        margin-bottom: 0;
        max-width: 50vw;
    }
}

.tagline {
    margin-bottom: 2rem;
    max-width: 30vw;
    font-size: 5rem;
    font-weight: 900;
}

.innerContainer {
    @mixin container;
}
