@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    margin-bottom: 2rem;
    border: 2px solid var(--c--gray-lighter);
    border-radius: var(--l--border-radius);

    @media (--mq-s) {
        margin-bottom: 1rem;
    }
}

.title {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: var(--c--gray-lighter);
    font-size: var(--t--size-m);
    font-weight: var(--t--weight-semi-bold);
    color: var(--c--gray);

    &.isActive {
        color: var(--c--black);
    }
}

.contentContainer {
    max-height: 0;
    overflow: hidden;

    &.isActive {
        max-height: 100rem;
    }
}

.content {
    @mixin row;

    @media (--mq-gt-s) {
        padding: 0.5rem;
    }
}

.half {
    width: 100%;

    @media (--mq-gt-s) {
        width: 50%;
    }
}

.red {
    color: var(--c--red);
}

.checkboxContainer {
    padding: 0 8px;

    & p:not(.disclose) {
        margin: 0;
    }

    & div {
        margin: 0.25rem 0;
    }
}

.disclose {
    margin: 1rem 0 0;
    font-size: var(--t--size-xs);
    color: var(--c--gray);
}

.edit {
    position: absolute;
    top: 25%;
    right: 1rem;
    color: var(--c--gray);
    text-decoration: underline;
    font-size: var(--t--size-s);
    font-weight: var(--t--weight-normal);
}

.alignBottom {
    padding: 0 8px;

    @media (--mq-s) {
        margin: 1rem 0;
        text-align: center;

        & button {
            width: 100%;
        }
    }

    @media (--mq-gt-s) {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
