@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

.container {
    display: flex;
    position: relative;
    height: 125vw; /* 1.25x browser width */
    margin-top: 60px;
    flex-direction: column;
    background-color: var(--c--gray-dark);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &.dark * {
        color: var(--c--black);
    }

    &.light * {
        color: var(--c--white);
    }

    &.top-left,
    &.top-center,
    &.top-right {
        justify-content: flex-start;
    }

    &.center-left,
    &.center,
    &.center-right {
        align-items: center;
        justify-content: center;
    }

    &.bottom-left,
    &.bottom-center,
    &.bottom-right {
        justify-content: flex-end;
    }

    & p,
    & h2 {
        display: none;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    & p {
        margin-bottom: 0;
        padding: 0 1rem;
    }

    @media (--mq-gt-s) {
        height: 45rem;
        margin-top: 0;

        & p,
        & h2 {
            display: block;
        }

        & p {
            max-width: 40rem;
            font-size: var(--t--size-m);
        }
    }

    @media (--mq-m) {
        margin-top: 60px;
    }
}

.innerContainer {
    @mixin container;

    &.top-left,
    &.center-left,
    &.bottom-left {
        width: 100%;
        padding-top: 2rem;
        max-width: calc(100% - 3rem);
        text-align: left;
    }

    &.top-center,
    &.center,
    &.bottom-center {
        text-align: center;
    }

    &.top-right,
    &.center-right,
    &.bottom-right {
        text-align: right;
    }
}

.info {
    padding: 1.5rem 1.5rem 2rem;
    text-align: center;

    @media (--mq-s) {
        & h2 {
            font-size: var(--t--size-lm);
        }
    }

    @media (--mq-gt-s) {
        display: none;
    }
}

.logo {
    display: inline-block;
    width: 100%;
    max-width: 80%;

    @media (--mq-gt-s) {
        margin-bottom: 2rem;
        max-width: 30vw;
    }
}

.flavor {
    position: absolute;
    right: 15vw;
    bottom: 0.5rem;
    color: var(--c--white);
    font-style: italic;
    font-size: var(--t--size-m);

    @media (--mq-s) {
        right: 1.5rem;
        bottom: 1rem;
        font-size: var(--t--size-s);
    }
}

/* brand specifics */

.crafted-snack-almonds {
    & .logo {
        max-width: 70vw;

        @media (--mq-gt-s) {
            width: 70vw;
            max-width: 500px;
        }
    }
}
