@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    @mixin container;

    @media (--mq-gt-s) {
        display: flex;
        padding: 3rem 0 4rem;
    }
}

.images {
    flex: 0 0 50%;
    text-align: center;

    & img {
        max-height: 540px;
    }

    @media (--mq-gt-s) {
        padding-right: 1rem;
    }
}

.productInfo {
    flex: 0 0 50%;

    @media (--mq-gt-s) {
        padding-right: 1rem;
    }
}

.title {
    margin: 0;

    @media (--mq-s) {
        margin: 1rem 0;
        font-size: var(--t--size-m);
    }
}

.meta {
    margin-top: 1rem;
    font-size: var(--t--size-xs);
    font-weight: var(--t--weight-bold);
    color: var(--c--gray);

    & span {
        display: inline-block;
    }

    & span + span {
        margin-left: 1rem;
    }

    & svg {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
        fill: var(--c--gray);
        vertical-align: middle;
    }
}

.description {
    margin: 2% 0 2rem;

    & p {
        color: var(--c--gray-darker);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.formOptions {
    @media (--mq-gt-s) {
        display: flex;
    }

    & .options {
        @media (--mq-gt-s) {
            padding-right: 2.75rem;
            flex: 2;
        }
    }
}

.formPurchase {
    margin: 0 0 1rem;

    @media (--mq-gt-s) {
        display: flex;
        margin: 0;
        align-items: center;
    }

    & .price {
        margin: 1.5rem 0;
        flex: 0 0 50%;
    }

    & button {
        width: 100%;
    }
}
