@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    @mixin container;

    @media (--mq-gt-s) {
        display: flex;
        padding: 3rem 0 4rem;
    }

    @media (--mq-m) {
        margin: 0;
        padding: 2rem 1rem;
    }
}

.images {
    flex: 0 0 50%;
    text-align: center;

    & img {
        max-height: 540px;
        min-height: 50%;
        max-width: 90%;
    }

    @media (--mq-gt-s) {
        padding-right: 1rem;
    }
}

.productInfo {
    flex: 0 0 50%;

    @media (--mq-gt-s) {
        padding-right: 1rem;
    }
}

.title {
    margin: 0;

    @media (--mq-s) {
        margin: 1rem 0;
        font-size: var(--t--size-m);
    }
}

.meta {
    margin-top: 1rem;
    font-size: var(--t--size-xs);
    font-weight: var(--t--weight-bold);
    color: var(--c--gray);

    & span {
        display: inline-block;
    }

    & span + span {
        margin-left: 1rem;
    }

    & svg {
        width: 24px;
        height: 24px;
        margin-top: -3px;
        margin-right: 0.5rem;
        fill: var(--c--gray);
        vertical-align: middle;
    }

    & .kosherUDairy svg {
        width: 34px;
    }
}

.description {
    margin: 2% 0 2rem;

    & p {
        color: var(--c--gray-darker);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.formOptions {
    @media (--mq-gt-s) {
        display: flex;
    }
}

.options {
    @media (--mq-gt-s) {
        padding-right: 2.75rem;
        flex: 2;
    }

    &.single {
        display: flex;
        align-items: center;
    }
}

.formPurchase {
    position: relative;
    margin: 0 0 1rem;
    z-index: var(--l--z-higher);

    @media (--mq-gt-s) {
        display: flex;
        margin: 0;
        z-index: var(--l--z-higher);
        align-items: flex-end;
    }
}

.button {
    position: relative;
    width: 100%;
    background-color: var(--c--blue-light);

    &:hover {
        background-color: var(--c--blue-dark);
    }

    &.disabled {
        pointer-events: none;
        background-color: #a6e1f9;
    }
}

.price {
    margin: 1.5rem 1rem -0.55rem 0;
    flex: 0 0 30%;

    &.disabled {
        visibility: hidden;
    }

    & span {
        display: block;
        height: 1.5rem;
        margin-bottom: 0.25rem;
        font-size: var(--t--size-m);
        text-decoration: line-through;
        color: var(--c--gray);
    }
}

.quantity {
    margin: 0 1rem 0 0;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.variantButton {
    margin: 0 15px 8px 0;
    padding: 4px 8px;
    color: var(--c--gray-dark);
    border: 1px solid var(--c--blue-light);
    border-radius: var(--l--border-radius);

    &.selected {
        color: var(--c--white);
        background-color: var(--c--blue-light);
    }
}

.hoverContent {
    display: block;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    left: 1rem;
    padding: 1rem 0.5rem;
    background-color: var(--c--white);
    border-radius: var(--l--border-radius);
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
    color: var(--c--black);
    white-space: normal;
    text-align: center;
    font-weight: var(--t--weight-normal);
    font-size: var(--t--size-xs);
    line-height: 1.3;
    transition: opacity 100ms ease;
    opacity: 0;

    &.isActive {
        opacity: 1;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -14px;
        left: 5.5rem;
        border: 7px solid;
        border-color: transparent transparent var(--c--white);
        vertical-align: middle;
    }
}
