@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    display: inline-block;
    padding: 2.5% 5%;
    background-color: var(--c--white);
    border-radius: 12px;
    overflow: hidden;

    &.wrap {
        @mixin container;

        @media (--mq-m) {
            padding: 0;
        }
    }

    @media (--mq-s) {
        display: none;
    }
}

.carousel {
    @mixin container;

    display: inline-block;
    position: relative;
    padding: 0;
}

.productCarousel {
    padding: 1.5rem 2rem;

    @media (--mq-m) {
        padding: 1rem;
    }
}

.products {
    display: flex;
    user-select: none;

    &.wrap {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;

        & > div {
            width: 20%;
            margin-bottom: 1.5rem;
        }
    }
}

.productList {
    display: flex;
    margin: 0;
    padding: 1.5rem 0.5rem 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: var(--c--white);
    border-radius: 12px;

    & > div {
        margin: 0 0 1.5rem;
    }

    @media (--mq-s) {
        align-items: flex-start;
    }
}

.active a {
    font-weight: var(--t--weight-bold);
}

.inactive {
    opacity: 0.5;
}
