@import 'constants/color';

.container {
    display: flex;
    position: relative;
    height: calc(100% - 2px);
    margin: 0 auto;
    max-width: 97vw;
    border: 1px solid var(--c--gray-lighter);
    border-radius: 8px;
    overflow: hidden;

    & > span {
        display: flex;
        width: 100%;
        min-height: 260px;
    }
}

.transition-enter {
    z-index: 0;
    transform: translateX(-100%);
}

.transition-enter-active {
    z-index: 0;
    transform: translateX(0);
    transition: transform 150ms ease-in-out;
}

.transition-leave {
    opacity: 1;
    transition: opacity 150ms linear;
}

.transtiion-leave-active {
    opacity: 0;
}
