{
    "parser": "babel-eslint",
    "extends": "planetary",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "max-len": [1, 99, 4, {
            ignoreUrls: true,
            ignorePattern: "\\s*<"
        }],
        "no-shadow": [1, {
            "builtinGlobals": true,
            "allow": ["event", "name", "callback", "resolve", "reject", "done", "cb"]
        }]
    },
    "plugins": [
        "react"
    ]
}
