# app-generated data files
grower_ids.cache

# environment-specific file
.env*

# webpack build target folder
/client/build

# npm modules
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
/node_modules

# migration files
/migrate/archives
/migrate/logs
/migrate/latest.json

# npm errors
npm-debug.log

# for OS X users
.DS_Store

# test coverage folder
coverage
