@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.pageContainer {
    @media (--mq-s) {
        padding-top: 3.7rem;
    }
}

.container {
    @mixin container;

    position: relative;
    padding: 3rem 0;

    @media (--mq-s) {
        padding-bottom: 1rem;
    }
}

.hero {
    display: flex;
    height: 22rem;
    align-items: center;
    justify-content: center;
    background-size: cover;

    @media (--mq-s) {
        height: 18rem;
        padding: 0 2rem;
        text-align: center;
    }

    & h2 {
        margin: 0;
        color: var(--c--white);
    }

    & button {
        width: 100%;
        margin-top: 2rem;

        @media (--mq-gt-s) {
            display: none;
        }
    }
}

.content {
    margin: 0 auto;
    max-width: 45rem;

    @media (--mq-s) {
        padding: 0 1rem;
        max-width: 100%;
        text-align: center;
    }
}

.productFeatures {
    display: flex;
    padding: 2rem 0;

    @media (--mq-s) {
        display: block;
        padding-bottom: 0;
    }
}

.productFeature {
    padding: 0 1%;
    flex: 1;
    text-align: center;

    @media (--mq-s) {
        margin: 0 1rem 1rem;
    }

    & img {
        width: 100%;
    }

    & a {
        font-size: var(--t--size-m);
        font-weight: var(--t--weight-bold);
        color: var(--c--black);
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--mq-s) {
        display: block;
        margin: 0 1rem;
    }

    & button {
        @media (--mq-s) {
            width: 100%;
            margin: 0.5rem 0;
        }
    }

    & button:first-of-type {
        margin-right: 1%;

        @media (--mq-s) {
            margin-right: 0;
        }
    }
}

.form {
    background-color: var(--c--gray-lighter);

    & label {
        padding-left: 0;
        padding-right: 0;
    }
}

.formContent {
    @mixin container;

    position: relative;
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 45rem;

    @media (--mq-s) {
        padding: 1.5rem;
        max-width: 100%;
    }

    & button {
        @media (--mq-s) {
            width: 100%;
        }
    }

    & h2 {
        @media (--mq-s) {
            font-size: var(--t--size-ms);
        }
    }
}
