@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    @mixin container;

    position: relative;
    padding: 3rem 0;
}

.hero {
    display: flex;
    height: 22rem;
    align-items: center;
    justify-content: center;
    background-size: cover;

    & h2 {
        margin: 0;
        color: var(--c--white);
    }

    @media (--mq-s) {
        padding: 2rem;
    }
}

.content {
    margin: 0 auto;
    max-width: 45rem;

    @media (--mq-s) {
        padding: 0 1%;
        max-width: 100%;
    }
}

.productFeatures {
    display: flex;
    padding: 2rem 0;

    @media (--mq-s) {
        display: block;
    }
}

.productFeature {
    padding: 0 1%;
    flex: 1;
    text-align: center;

    & img {
        width: 100%;
    }

    & a {
        font-size: var(--t--size-m);
        font-weight: var(--t--weight-bold);
        color: var(--c--black);
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    & button:first-of-type {
        margin-right: 1%;
    }
}

.form {
    background-color: var(--c--gray-lighter);

    & label {
        padding-left: 0;
        padding-right: 0;
    }
}

.formContent {
    @mixin container;

    position: relative;
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 45rem;

    @media (--mq-s) {
        padding: 0 1%;
        max-width: 100%;
    }
}
