@import 'constants/type';
@import 'constants/grid';
@import 'constants/color';

.action {
    display: inline-block;
    padding: 0 1rem;
    font-weight: var(--t--weight-bold);
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:first-of-type {
        padding: 0;
    }

    &.delete {
        color: var(--c--red);

        @media (--mq-s) {
            order: 2;
        }
    }
}

.addresses {
    display: flex;
    flex-wrap: wrap;
}
