@import '../constants/color';

/* color utilities */
.c--black { color: var(--c--black); }
.c--white { color: var(--c--white); }

/* color variant utilities: gray */
.c--gray { color: var(--c--gray); }
.c--gray-lighter { color: var(--c--gray-lighter); }
.c--gray-light { color: var(--c--gray-light); }
.c--gray-dark { color: var(--c--gray-dark); }
.c--gray-darker { color: var(--c--gray-darker); }

/* color variant utilities: blue */
.c--blue { color: var(--c--blue); }
.c--blue-light { color: var(--c--blue-light); }
.c--blue-dark { color: var(--c--blue-dark); }
.c--blue-darker { color: var(--c--blue-darker); }

/* color variant utilities: green */
.c--green { color: var(--c--green); }
.c--green-light { color: var(--c--green-light); }
.c--green-dark { color: var(--c--green-dark); }
.c--green-darker { color: var(--c--green-darker); }

/* color variant utilities: yellow */
.c--yellow { color: var(--c--yellow); }
.c--yellow-light { color: var(--c--yellow-light); }
.c--yellow-dark { color: var(--c--yellow-dark); }
.c--yellow-darker { color: var(--c--yellow-darker); }

/* background color utilities */
.c--bg-black { background: var(--c--black); }
.c--bg-white { background: var(--c--white); }

/* background color utilities: gray */
.c--bg-gray { background: var(--c--gray); }
.c--bg-gray-lighter { background: var(--c--gray-lighter); }
.c--bg-gray-light { background: var(--c--gray-light); }
.c--bg-gray-dark { background: var(--c--gray-dark); }
.c--bg-gray-darker { background: var(--c--gray-darker); }

/* background color utilities: blue */
.c--bg-blue { background: var(--c--blue); }
.c--bg-blue-light { background: var(--c--blue-light); }
.c--bg-blue-dark { background: var(--c--blue-dark); }
.c--bg-blue-darker { background: var(--c--blue-darker); }

/* background color utilities: green */
.c--bg-green { background: var(--c--green); }
.c--bg-green-light { background: var(--c--green-light); }
.c--bg-green-dark { background: var(--c--green-dark); }
.c--bg-green-darker { background: var(--c--green-darker); }

/* background color utilities: yellow */
.c--bg-yellow { background: var(--c--yellow); }
.c--bg-yellow-light { background: var(--c--yellow-light); }
.c--bg-yellow-dark { background: var(--c--yellow-dark); }
.c--bg-yellow-darker { background: var(--c--yellow-darker); }
