@import '../constants/type';
@import '../constants/color';

/* global type baselines */
body,
html {
    font-size: var(--t--base-size);
    line-height: var(--t--base-leading);
    font-family: var(--t--family-sans);
    color: var(--c--black);
    font-feature-settings: 'kern';
    font-kerning: normal;
}

em {
    font-style: italic;
}

strong {
    font-weight: var(--t--weight-bold);
}

/* headers */
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1rem;
    line-height: 1;
    font-family: var(--t--family-sans);
    font-weight: var(--t--weight-bold);
}

h1 {
    font-size: var(--t--size-xl);
}

h2 {
    font-size: var(--t--size-l);
}

h3 {
    font-size: var(--t--size-m);
}

h5 {
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    margin-bottom: 1rem;
}

/* quotes */
blockquote {
    margin: 1rem 0;
    padding-left: 1rem;
    color: var(--c--gray-dark);
    border-left: 2px solid var(--c--gray-light);
}

/* lists */
ul,
ol {
    margin-bottom: 1rem;

    & li {
        display: list-item;
    }

    & ul,
    & ol {
        margin-bottom: 0;
    }
}

/* links */
a {
    color: var(--c--black);

    &:focus,
    &:hover {
        color: var(--c--blue-dark);
    }
}

.t--family-sans { font-family: var(--t--family-sans); }

.t--size-xxl { font-size: var(--t--size-xxl); }
.t--size-xl { font-size: var(--t--size-xl); }
.t--size-l { font-size: var(--t--size-l); }
.t--size-m { font-size: var(--t--size-m); }
.t--size-s { font-size: var(--t--size-s); }

.t--type-display-one {
    font-size: var(--t--size-xxl);
    text-transform: uppercase;
}
.t--type-display-two {
    font-size: var(--t--size-l);
    text-transform: uppercase;
}
.t--type-prose {
    font-size: var(--t--size-m);
}
.t--type-incidental { color: var(--c--gray); }

.t--size-ms-xl { font-size: var(--ms2); }
.t--size-ms-l { font-size: var(--ms1); }
.t--size-ms-m { font-size: var(--ms0); }
.t--size-ms-s { font-size: var(--ms-1); }

.t--weight-bold { font-weight: var(--t--weight-bold); }
.t--weight-normal { font-weight: var(--t--weight-normal); }
.t--weight-light { font-weight: var(--t--weight-light); }

.t--align-left { text-align: left; }
.t--align-center { text-align: center; }
.t--align-right { text-align: right; }

.t--list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.t--list-inline li { display: inline-block; }
