@import 'constants/grid';
@import 'constants/color';

.container {
    display: flex;

    @media (--mq-s) {
        display: block;
    }
}

.nav,
.content {
    list-style: none;
}

.nav {
    width: 11rem;
    padding-left: 0;

    @media (--mq-s) {
        width: 100%;
    }
}

.navItem {
    display: flex;
    height: 2.5rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    color: var(--c--gray);
    background-color: var(--c--gray-lighter);
    cursor: pointer;

    &:not(:last-child) {
        border-bottom: 1px solid var(--c--white);
    }

    & svg {
        fill: var(--c--gray);
    }

    &.active {
        color: var(--c--blue);
        background-color: var(--c--white);

        & svg {
            fill: var(--c--blue);
        }

        @media (--mq-s) {
            margin-bottom: 1rem;
            border-bottom: 1px solid var(--c--blue);
        }
    }
}

.content {
    width: 70%;

    @media (--mq-s) {
        width: 100%;
    }
}

/* For mobile collapsing FAQs */
.navContent {
    & > ul {
        padding-left: 0;
    }

    &:not(.active) {
        display: none;
    }
}

.seeAll {
    @media (--mq-s) {
        display: block;
    }
}

.item {
    margin-bottom: 1.5rem;

    & h4 {
        margin-bottom: 0.25rem;
    }

    & p:first-child,
    & p:last-child {
        margin: 0;
    }

    & > li {
        margin-bottom: 0;
    }
}
