@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    margin: 2rem 0 0;
    flex-basis: 25%;
    text-align: center;

    &:last-of-type {
        margin-right: 0;
    }

    & a {
        font-size: var(--t--size-xs);
        color: var(--c--black);
    }

    & p {
        margin: 0;
        line-height: 1.4;
    }

    @media (--mq-s) {
        flex-basis: 50%;
    }
}

.image {
    display: flex;
    height: 125px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--c--gray);

    & img {
        height: 100%;
    }
}
