@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    @mixin column-flex;

    max-width: 150px;
    text-align: center;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    & a {
        font-size: var(--t--size-xs);
        color: var(--c--black);
    }

    & p {
        margin: 0;
        line-height: 1.4;
    }
}

.image {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;

    & img {
        max-width: 125px;
    }
}
