@import 'constants/grid';
@import 'constants/color';

/* Hero Styles */

.container {
    display: flex;
    position: relative;
    height: 80vh;
    background-color: var(--c--gray-dark);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media (--mq-s) {
        height: 20rem;
    }

    &.alignTop {
        align-items: flex-start;

        & .innerContainer {
            padding: 12vh 0;
        }
    }

    &.alignCenter {
        align-items: center;

        & .innerContainer {
            padding: 12vh 0;
            text-align: center;
        }
    }

    &.alignBottom {
        align-items: flex-end;

        & .innerContainer {
            padding: 0 0 12vh;
        }
    }
}

.innerContainer {
    @mixin container;

    z-index: 10;

    & h1,
    & h3,
    & p {
        max-width: 30vw;
    }
}

.light {
    color: var(--c--white);
}

.dark {
    color: var(--c--black);
}
