@import 'constants/grid';
@import 'constants/color';

.container {
    @mixin container;

    position: relative;

    @media (--mq-s) {
        display: none;
    }
}

.mobileContainer {
    @media (--mq-gt-s) {
        display: none;
    }

    & .drawer {
        position: fixed;
        top: 0;
        right: -100vw;
        width: 100%;
        height: 100%;
        background: var(--c--white);

        &.visible {
            right: 0;
        }

        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
}

.external {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    & li {
        display: inline-block;
        margin-left: var(--l--space-s);
        float: right;
    }
}

.primary {
    display: flex;
    width: 100%;
}

.primaryItem {
    padding: 0 var(--l--space-s);
    flex: auto;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    @media (--mq-s) {
        padding: 0;
    }
}

.secondaryItem {
    @media (--mq-s) {
        display: none;
        margin-left: 1rem;

        &.visible {
            display: block;
        }
    }
}

.logo {
    flex: 0 0 50%;
    text-align: center;
}

.navDrawer {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;

    &.visible {
        display: block;
    }
}
