@import 'constants/grid';
@import 'constants/color';

.container {
    @mixin container;

    margin-top: -8px;
    max-width: 74rem;
    overflow: hidden;
}

.innerContainer {
    max-width: 100%;
    float: left;
    background-color: var(--c--white);
    border: 1px solid var(--c--gray-lighter);
    border-radius: 8px;
    overflow: hidden;
}

.wrapper {
    display: flex;
}
