@import 'constants/grid';
@import 'constants/color';

.container {
    @mixin container;

    max-width: 74rem;
    overflow: hidden;
}

.innerContainer {
    max-width: 100%;
    float: left;
    background-color: var(--c--white);
    border: 2px solid var(--c--gray-lighter);
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.wrapper {
    display: flex;
}
