@import 'constants/color';
@import 'constants/grid';

.fieldPair {
    display: flex;
}

.input {
    width: auto;
    flex: 1;

    & input,
    & select,
    & textarea {
        width: 100%;
        min-width: 0;
    }
}

.sent,
.error {
    margin: 0 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--l--border-radius);
}

.sent {
    background: var(--c--green-light);
    color: var(--c--black);
}

.error {
    background: color(var(--c--red) lightness(+30%));
    color: var(--c--red-dark);
}
