/* stylelint-disable */
@media only screen and (min-width: 2000px) {
  .products-boxes-container{
    max-width: 1920px;
  }
}

@media only screen and (min-width: 1300px) {
  .header-container{
    max-width: 1245px;
  }
}
@media only screen and (min-width: 1100px) {
  .sm-container{
    max-width: 1000px;
  }
}

@media only screen and (min-width: 992px) {
  /* logo navigation */
  .logo-navigation{
    height: 90px;
  }
  .logo-navigation .navbar .navbar-nav {
    position: relative;
    top: -18px;
  }
  .logo-navigation .navbar .navbar-brand {
    position: relative;
    top: -45px;
  }
  .logo-navigation .navbar .nav-item:first-child {
    margin-left: 0;
  }
  .logo-navigation .navbar .nav-item:last-child {
    margin-right: 0;
  }
  .logo-navigation .navbar .nav-item:last-child a{
    padding-right: 0;
  }
}


@media only screen and (max-width: 1700px) {
  .recipes-banners .carousel-caption {
    width: 30%;
    max-width: 500px;
    line-height: normal;
  }
  .recipes-banners .carousel-caption h5{
    font-size: 30px;
  }
  .recipes-banners .carousel-caption p{
    font-size: 16px;
  }
  #baner-section .banner-text {
    bottom: 150px;
  }
  #baner-section .banner-text .b-heading h2 {
    font-size: 85px;
  }
  #baner-section .banner-text .b-text {
    padding: 5px 0;
    margin-top: 10px;
  }
  #baner-section .banner-text .b-text p {
    font-size: 24px;
  }
  .products-boxes .box-main .product-content .product-heading h1{
    font-size: 34px;
    min-height: 150px;
  }
  .products-boxes .box-main .product-content .product-bottom p{
    margin-left: 20px;
    margin-right: 10px;
  }
    .title-comment p { bottom: -32%;}
}
@media only screen and (max-width: 1366px) {
  #baner-section .banner-text .b-heading h2 {
    font-size: 80px;
  }
  #baner-section .banner-text .b-text p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1360px) {
  .top-header ul li a {
    padding: 5px 4px;
    font-size: 12px;
  }
  .top-header ul li a .top-nav-icons {
    margin-right: 5px;
  }
  #baner-section .banner-text {
    bottom: 22%;
  }
  #baner-section .banner-text .b-heading h2 {
    font-size: 70px;
  }
  #baner-section .banner-text .b-text {
    padding: 5px 0;
    margin-top: 20px;
  }
  .products-boxes .box-main .product-content .product-heading h1{
    font-size: 28px;
    min-height: 120px;
  }
  .products-boxes .box-main .product-content .product-heading h1 br{
    display: none;
  }
  .products-boxes .box-main .product-content .product-bottom p{
    margin: 0 10px 5px 0;
    padding: 0;
    width: 50%;
  }
}
@media only screen and (max-width: 1260px) {
  .recipes-banners .carousel-caption {
    width: 40%;
  }
}
@media only screen and (max-width: 1200px) {
.logo-navigation .navbar .nav-item a{
font-size: 14px !important;
}
  .top-header ul li{
    margin-right: 5px;
  }
  .top-header ul li a {
    padding: 5px 8px;
    font-size: 12px;
  }
  .top-header ul li a .top-nav-icons {
    margin-right: 8px;
  }
  .top-header ul li a .top-nav-icons img,
  .top-header ul .sign-in-icon img {
    width: 14px;
  }
  .recipes-banners .carousel-caption {
    width: 38%;
  }
  .recipes-banners .carousel-caption h5 {
    font-size: 24px;
  }
  .recipes-banners .carousel-caption p {
    font-size: 12px;
  }
  .products-boxes .box-main .product-content .product-bottom p{
    font-size: 10px;
  }
}

@media only screen and (max-width:1024px) {
    .title-comment p {font-size: 32px;}
}
@media only screen and (max-width: 991px) {
  .logo-navigation .navbar .navbar-brand img {
    width: 160px;
    padding: 5px;
  }
  .logo-navigation ul li {
    border-bottom: 1px dotted #000;
  }
  .logo-navigation .order-3 ul li:last-child{
    border:none;
  }
  .logo-navigation{
    white-space:nowrap;
  }
  .logo-navigation .navbar .nav-item a{
    padding:10px;
  }
  .device-menu-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-navigation .navbar .navbar-brand{
    margin-left: 0 !important;
  }
  .top-header .top-header-left{
    white-space: nowrap;
  }
  .products-boxes .box-main{
    display: inline-block;
    float: left;
  }
  .recipes-banners .carousel-caption{
    width: 60%;
  }
  .recipes-banners .carousel-caption .carousel-img-download {
    display: inline-block;
    bottom: 0;
  }
  .recipes-banners .carousel-caption .carousel-img-download img {
    width: 100px;
  }
  .recipes-banners .carousel-caption .carousel-img-download a{
    display: inline-block;
  }
  .recipes-banners .carousel-caption .carousel-img-download {
    position: relative;
    margin-top: 12px;
  }
  #baner-section .banner-text {
    bottom: 80px;
  }
  #baner-section .banner-text .b-heading h2 {
    font-size: 50px;
  }
  #baner-section .banner-text .b-text {
    padding: 5px 0;
    margin-top: 0;
  }
  #baner-section .banner-text .b-text p {
    font-size: 18px;
  }
  .products-boxes .box-main .product-content{
    padding: 0 15px;
  }
  .products-boxes .box-main .product-content .product-heading h1{
    font-size: 36px;
    min-height: 120px;
  }
  .products-boxes .box-main .product-content .product-bottom p{
    font-size: 12px;
  }
    .title-comment p {

     bottom: -20%;
     font-size: 28px;
}
    .title-comment p sup {
    font-size: 11px;
    top: 14px;
}
    #baner-section .banner-text .b-heading h2 {line-height: 58px;}
}
@media only screen and (max-width: 767px) {
  .top-header{
    text-align:center;
  }
  .top-header .top-header-left,
  .top-header .float-right{
    float: none !important;
    display: inline-block;
  }
  .top-header .top-header-left{
    white-space: normal;
  }
  .top-header .top-header-left li.top-menu-back{
    margin-bottom:10px;
    margin-right:0;
  }
  .logo-navigation{
    white-space: normal;
  }
  .build-party {
    background-image: url('./images/build-party-back-2.png');
    background-size: contain;
    background-position: center;
    padding: 90px 0;
  }
  .recipes-banners .carousel-caption p{
    display: none;
  }
  .recipes-banners .carousel-caption .carousel-img-download {
    margin-top: 10%;
  }
  #baner-section .banner-text {
    bottom: 65px;
  }
  #baner-section .banner-text .b-heading h2 {
    font-size: 42px;
  }
  #baner-section .banner-text .b-text {
    padding: 5px 0;
    margin-top: 0;
  }
  #baner-section .banner-text .b-text p {
    font-size: 16px;
  }
  .products-boxes .box-main .product-content .product-heading h1 br{
    display: none;
  }
  .title-comment p {font-size: 24px;}
}
@media only screen and (max-width: 665px) {
  .recipes-banners .carousel-control-next-icon, .recipes-banners .carousel-control-prev-icon{
    width:30px;
    height:30px;
  }
}
@media only screen and (max-width: 575px) {
  .build-party {
    background-size: auto;
    background-repeat: repeat;
  }
  .site-footer .links-footer .first-links-footer ul{
    float: left !important;
    margin: 0;
  }
  .site-footer .links-footer .first-links-footer .footer-contact li {
    margin-left: 0;
    padding-left: 0;
  }
  .recipes-banners .carousel-caption .carousel-img-download {
    margin-top: 5%;
  }
  #baner-section .banner-text {
    bottom: 50px;
  }
  #baner-section .banner-text .b-heading h2 {
    font-size: 38px;
  }
  #baner-section .banner-text .b-text {
    padding: 5px 0;
  }
  #baner-section .banner-text .b-text p {
    font-size: 14px;
  }
  .products-boxes .box-main .product-content .product-heading h1 {
    font-size: 32px;
    text-align: center;
  }
  .products-boxes .box-main .product-content .product-bottom p{
    margin: 15px 0 15px 50px;
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .top-header ul.top-header-left {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .top-header ul.top-header-left li.top-menu-back {
    background: none;
    margin-bottom: 0;
  }
  .top-header ul.top-header-left li.top-menu-back a {
    padding: 5px;
  }
  .top-header ul.top-header-left li.top-menu-back a span {
    margin-right: 4px;
  }
  .bottom-fixed-search {
    bottom: 45px;
  }
  .recipes-banners .carousel-caption .carousel-img-download {
    display: none;
  }
  #baner-section .banner-text {
    bottom: 35px;
  }
  #baner-section .banner-text .b-heading h2 {
    font-size: 20px;
    line-height: 24px;
  }
  #baner-section .banner-text .b-text {
    padding: 5px 0;
  }
  #baner-section .banner-text .b-text p {
    font-size: 12px ;
  }
    
.title-comment p {
    font-size: 16px;
    letter-spacing: 0;
    position: static;
}
    .title-comment p sup { top: 87%;}
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
  .site-footer .Secound-links-footer ul li p{
    min-height: 50px;
  }
  .products-boxes .box-main .product-content .product-heading h1 {
    font-size: 30px;
  }
  .products-boxes .box-main .product-content .product-bottom p{
    margin: 5px 25px;
    width: 50%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1100px) {
  .site-footer .Secound-links-footer ul li p{
    min-height: 50px;
  }
}
/* stylelint-enable */
