@import 'constants.css';

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuItem {
    display: inline-block;
    margin-left: calc(var(--unit) * 3);
    margin-right: calc(var(--unit) * 3);
}

.menuItemLink {
    padding-bottom: 0;
    text-decoration: none;
    border-bottom-width: 0.12em;
    border-bottom-color: transparent;
    border-bottom-style: solid;
}

.selected {
    border-bottom-color: var(--base-color);
}
