@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.hero {
    display: flex;
    position: relative;
    margin-top: 60px;
    overflow: hidden;

    @media (--mq-gt-s) {
        margin-top: 0;
        min-height: 48rem;
    }
}

.background,
.shelf {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
}

.background {
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    transform: scale(1.02);
}

.shelf {
    background-size: 550%;
    background-position: bottom;

    @media (--mq-gt-s) {
        background-size: 160%;
    }
}

.product {
    @mixin container;

    display: flex;
    position: relative;
    padding: 12rem 0 9rem;
    max-width: 48rem;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;

    @media (--mq-s) {
        padding: 2rem 0 4rem;
        flex-wrap: wrap;
    }
}

.photo {
    z-index: var(--l--z-high);

    & img {
        max-width: 100%;
        vertical-align: middle;

        @media (--mq-s) {
            max-height: 20rem;
        }
    }

    @media (--mq-s) {
        width: 65%;
        margin: 0 auto;
        order: 2;
        text-align: center;
    }

    @media (--mq-gt-s) {
        max-width: 20rem;
    }
}

.info {
    width: 100%;
    align-self: center;

    @media (--mq-s) {
        margin: 0 auto;
        max-width: 80%;

        & > div > button {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
            width: calc(100% - 2rem);
            min-width: 0;
        }
    }

    @media (--mq-s) {
        padding-bottom: 4rem;
        order: 1;
        text-align: center;
    }

    @media (--mq-gt-s) {
        display: flex;
        width: 22rem;
        margin-top: -2rem;
        align-items: center;
    }
}

.name {
    color: var(--c--white);
    font-size: var(--t--size-l);

    @media (--mq-gt-s) {
        font-size: var(--t--size-xxl);
    }
}

.tag {
    display: inline-block;
    height: 1.5rem;
    margin: 1.5rem auto 1rem;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: var(--t--weight-bold);
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;

    &.yellow {
        color: var(--c--black);
        background-color: var(--c--yellow);
    }

    &.green {
        color: var(--c--black);
        background-color: var(--c--green);
    }

    &.blue {
        color: var(--c--white);
        background-color: var(--c--blue);
    }

    @media (--mq-gt-s) {
        margin: 0;
    }
}
