@import 'constants/color.css';
@import 'constants/type.css';

.base {
    display: inline-block;
    position: relative;
    height: 2.5rem;
    padding: 0 2rem;
    min-width: 12rem;
    font-size: var(--t--size-s);
    font-weight: var(--t--weight-bold);
    line-height: 2.5rem;
    text-align: center;
    white-space: nowrap;
    background: none;
    border: none;
    border-radius: 80px;
    outline: 0;
    user-select: none;
    will-change: background-color;
    transition: background-color 300ms ease;

    &:disabled {
        color: var(--c--gray-lighter);
        background-color: var(--c--gray-light);
        pointer-events: none;
    }
}

.outline {
    composes: base;
    line-height: calc(2.5rem - 2px);
    background-color: transparent;
    border: 1px solid;
}

/* Layouts */
.wide {
    min-width: 16.5rem;
}

.fw {
    width: 100%;
}

.large {
    height: 3rem;
    padding: 0 2.5rem;
    font-size: var(--t--size-ms);
    line-height: 3rem;
    border-radius: 96px;
}

/* Themes */
.white {
    composes: base;
    color: var(--c--black);
    background-color: var(--c--white);

    &:hover,
    &:focus {
        color: var(--c--black);
    }
}

.blue {
    composes: base;
    color: var(--c--white);
    background-color: var(--c--blue);

    &:hover,
    &:focus {
        color: var(--c--white);
        background-color: var(--c--blue-dark);
    }
}

.blueDark {
    composes: base;
    color: var(--c--white);
    background-color: var(--c--blue-dark);

    &:hover,
    &:focus {
        color: var(--c--white);
        background-color: var(--c--blue);
    }
}

.blueLight {
    composes: base;
    color: var(--c--white);
    background-color: var(--c--blue-light);

    &:hover,
    &:focus {
        color: var(--c--white);
        background-color: var(--c--blue);
    }
}

.blueOutline {
    composes: outline;
    color: var(--c--blue-dark);
    border-color: var(--c--blue-dark);

    &:hover,
    &:focus {
        color: var(--c--blue);
        border-color: var(--c--blue);
    }
}

.yellow {
    composes: base;
    color: var(--c--black);
    background-color: #fcca40;

    &:hover,
    &:focus {
        color: var(--c--black);
        background-color: var(--c--yellow-medium);
    }
}

.green {
    composes: base;
    color: var(--c--black);
    background-color: var(--c--green);

    &:hover,
    &:focus {
        color: var(--c--black);
        background-color: var(--c--green-medium);
    }
}

.ghost {
    composes: base;
    color: var(--c--black);
    line-height: 36px;
    background: transparent;
    border: 2px solid var(--c--gray-light);

    &:hover,
    &:focus {
        color: var(--c--black);
    }
}
