@import 'constants/color';

.fieldPair {
    display: flex;

    & label {
        width: auto;
        flex: 1;

        & input,
        & select,
        & textarea {
            width: 100%;
            min-width: 0;
        }
    }
}

.form {
    & .input {
        & input,
        & select {
            width: 100%;
            min-width: 0;
        }
    }

    & [data-required='true'] .label::after {
        content: ' *';
        color: var(--c--red);
    }
}
