@import 'constants/grid';
@import 'constants/color';

.fieldPair {
    display: flex;

    & label {
        width: auto;
        flex: 1;

        & input,
        & select,
        & textarea {
            width: 100%;
            min-width: 0;
        }
    }

    @media (--mq-s) {
        display: block;
    }
}

.form {
    & .input {
        & input,
        & select {
            width: 100%;
            min-width: 0;
        }
    }

    & [data-required='true'] .label::after {
        content: ' *';
        color: var(--c--red);
    }
}

.sent,
.error {
    margin: 0 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--l--border-radius);
}

.sent {
    background: var(--c--green-light);
    color: var(--c--black);
}

.error {
    background: color(var(--c--red) lightness(+30%));
    color: var(--c--red-dark);
}
