@import 'constants/color';
@import 'constants/grid';

.container {
    position: relative;
    max-width: 100%;

    @media (--mq-gt-s) {
        display: inline-block;
    }
}

.productList {
    display: none;
    margin: 0;
    padding: 2rem 4rem;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: var(--c--white);
    border-radius: 12px;

    @media (--mq-gt-s) {
        display: flex;
    }
}

.productListMobile {
    display: flex;
    margin: 0;
    padding: 2rem 0;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: var(--c--white);

    @media (--mq-gt-s) {
        display: none;
    }
}

.product {
    padding: 0 1.75rem;
    text-align: center;
}

.product a {
    color: var(--c--black);

    & img {
        display: block;
        margin: 0 auto 0.5rem;
        max-width: 125px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%),
        linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);
    pointer-events: none;

    @media (--mq-gt-s) {
        display: none;
    }
}

.tabs {
    display: flex;
    position: absolute;
    bottom: 4px;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    justify-content: space-between;

    @media (--mq-gt-s) {
        display: none;
    }
}

.tab {
    width: 100%;
    height: 4px;
    margin: 0 2px;
    background-color: var(--c--gray-lighter);
}

.tabActive {
    background-color: var(--c--gray-light);
}
