@import 'constants/grid';
@import 'constants/type';
@import 'constants/color';

.container {
    @mixin container;

    padding-top: 2rem;
    padding-bottom: 4rem;
}

.intro {
    margin-bottom: 1.5rem;

    & h1 {
        margin-bottom: 1.5rem;
        font-size: var(--t--size-lm);

        @media (--mq-gt-s) {
            font-size: var(--t--size-l);
        }
    }

    & button {
        margin-bottom: 1rem;
    }

    @media (--mq-gt-s) {
        margin-right: 7.5rem;
    }
}
