@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.content {
    overflow: hidden;
    background-color: var(--c--gray-lighter);
    background-image: url(images/backgrounds/hub-texture.png);
    background-size: 25%;
}

.container {
    @mixin container;

    position: relative;
    padding: 3rem 0;

    & p {
        font-size: var(--t--size-m);

        @media (--mq-m) {
            font-size: var(--t--size-s);
        }
    }

    & h2 {
        margin: 0;
    }

    & .imageCluster {
        flex: 0 0 120%;
    }
}

.heroInner {
    margin-left: 12vw;
    max-width: none;

    @media (--mq-m) {
        margin-left: 9vw;
        padding-bottom: 1rem;

        & h1 {
            font-size: var(--t--size-lm);
            max-width: 30% !important; /* stylelint-disable-line */
        }
    }

    @media (max-width: 500px) {
        margin-left: 5vw;

        & h1 {
            max-width: 60% !important; /* stylelint-disable-line */
        }
    }
}

.diamond {
    display: block;
    position: relative;
    margin-bottom: -19px;
    z-index: 10;
    text-align: center;

    & svg {
        width: 44px;
        height: 24px;
        fill: var(--c--blue);
    }
}

.headline {
    margin: 0 1.5rem;

    @media (--mq-m) {
        margin-bottom: 2rem;
    }

    & h2 {
        @media (--mq-m) {
            display: inline;
            font-size: var(--t--size-m);
        }
    }
}

.contentBlock {
    margin: 0 1%;
    flex: 0 0 56.33%;

    @media (--mq-lt-s) {
        flex: 0 0 100%;
    }
}

.secondImageCluster {
    @media (--mq-s) {
        max-width: 100%;
    }
}
