@import 'constants/color';
@import 'constants/grid';

.primary {
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: var(--c--white);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--gray-lighter);
    }

    & .button {
        display: flex;
        position: relative;
        height: 100%;
        padding: 0 1.5rem;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        color: var(--c--gray-dark);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 1.5rem;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto 0;
            vertical-align: middle;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 9px solid var(--c--black);
            opacity: 0.4;
        }

        &:focus,
        &.active {
            color: var(--c--black);
            background-color: var(--c--gray-lighter);
        }

        &.active::after {
            opacity: 0.8;
        }
    }

    & a {
        color: var(--c--black);
    }

    @media (--mq-gt-s) {
        height: 70px;

        & a,
        & .button {
            padding: 0 1rem;
            transition: color 300ms ease, background-color 300ms ease;
        }

        & .button:hover {
            color: var(--c--black);
            background-color: var(--c--gray-lighter);
        }

        & .button::after {
            right: 1rem;
        }
    }
}

.secondary {
    composes: primary;

    & a {
        color: var(--c--gray-dark);
    }
}

.brand--yellow {
    composes: primary;
    background-color: var(--c--yellow);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--yellow-dark);
    }

    & .button {
        color: var(--c--yellow-darker);
    }

    & .button:focus,
    & .button.active {
        color: var(--c--black);
        background-color: var(--c--yellow-light);
    }

    & .button.active::after {
        opacity: 0.8;
    }

    @media (--mq-gt-s) {
        & .button:hover {
            color: var(--c--black);
            background-color: var(--c--yellow-light);
        }
    }
}

.brand--green {
    composes: primary;
    background-color: var(--c--green-darker);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--green-darker);
    }

    & .button {
        background-color: var(--c--green-dark);
        color: var(--c--green-darker);
    }

    & .button:focus,
    & .button.active {
        color: var(--c--black);
        background-color: var(--c--green);
    }

    & .button.active::after {
        opacity: 0.8;
    }

    @media (--mq-gt-s) {
        & .button:hover {
            color: var(--c--black);
            background-color: var(--c--green);
        }
    }
}

.brand--blue {
    composes: primary;
    background-color: var(--c--blue-dark);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--blue-dark);
    }

    & .button {
        background-color: var(--c--blue);
        color: var(--c--blue-darker);
    }

    & .button:focus,
    & .button.active {
        color: var(--c--black);
        background-color: var(--c--blue-light);
    }

     /* stylelint-disable */
    & .button.active,
    & .button.active:hover {
        color: var(--c--white);

        &::after {
            opacity: 0.8;
            border-left-color: var(--c--white);
        }
    }
    /* stylelint-enable */

    @media (--mq-gt-s) {
        & .button:hover {
            color: var(--c--black);
            background-color: var(--c--blue-light);
        }
    }
}
