@import 'constants/color';
@import 'constants/grid';

.primary {
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: var(--c--white);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--gray-lighter);
    }

    & a,
    & div {
        display: flex;
        height: 100%;
        padding: 0 1.5rem;
        align-items: center;
        cursor: pointer;
    }

    & a {
        color: var(--c--black);
    }

    & div {
        position: relative;
        justify-content: space-between;
        color: var(--c--gray-dark);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 1.5rem;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto 0;
            vertical-align: middle;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 9px solid var(--c--black);
            opacity: 0.4;
        }

        &:focus,
        &.active {
            color: var(--c--black);
            background-color: var(--c--gray-lighter);
        }

        &.active::after {
            opacity: 0.8;
        }
    }

    @media (--mq-gt-s) {
        height: 64px;

        & a,
        & div {
            padding: 0 1rem;
        }

        & div:hover {
            color: var(--c--black);
            background-color: var(--c--gray-lighter);
        }

        & div::after {
            right: 1rem;
        }
    }
}

.secondary {
    composes: primary;

    & a {
        color: var(--c--gray-dark);
    }
}

.brand--yellow {
    composes: primary;
    background-color: var(--c--yellow);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--yellow-dark);
    }

    & div {
        color: var(--c--yellow-darker);
    }

    & div:focus,
    & div.active {
        color: var(--c--black);
        background-color: var(--c--yellow-light);
    }

    & div.active::after {
        opacity: 0.8;
    }

    @media (--mq-gt-s) {
        & div:hover {
            color: var(--c--black);
            background-color: var(--c--yellow-light);
        }
    }
}

.brand--green {
    composes: primary;
    background-color: var(--c--green);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--green-dark);
    }

    & div {
        color: var(--c--green-darker);
    }

    & div:focus,
    & div.active {
        color: var(--c--black);
        background-color: var(--c--green-light);
    }

    & div.active::after {
        opacity: 0.8;
    }

    @media (--mq-gt-s) {
        & div:hover {
            color: var(--c--black);
            background-color: var(--c--green-light);
        }
    }
}

.brand--blue {
    composes: primary;
    background-color: var(--c--blue);

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--c--blue-dark);
    }

    & div {
        color: var(--c--blue-darker);
    }

    & div:focus,
    & div.active {
        color: var(--c--black);
        background-color: var(--c--blue-light);
    }

    & div.active::after {
        opacity: 0.8;
    }

    @media (--mq-gt-s) {
        & div:hover {
            color: var(--c--black);
            background-color: var(--c--blue-light);
        }
    }
}
