@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    overflow: hidden;
    background-color: var(--c--gray-lighter);
    background-image: url(images/backgrounds/hub-texture.png);
    background-size: 25%;
}

.hero {
    position: relative;
    height: 97.5vh;
    padding-top: 6.25rem;
    max-height: 100vw;
    min-height: 40rem;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    overflow: visible;

    @media (--mq-gt-s) {
        display: flex;
        padding-top: 0;
        align-items: center;
        background-blend-mode: normal;
    }

    @media (--mq-gt-m) {
        min-height: 51vw;
        max-height: 60vw;
    }
}

.heroBackground {
    /* react-parallax sets position: relative, which we don't want here */
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;

    @media (--mq-m) {
        background: rgba(0, 0, 0, 1);

        & img {
            top: 0;
            opacity: 0.65;
        }
    }

    & img {
        top: -5rem;
        max-width: none;
    }
}

.heroContent {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 10;
    max-width: 77rem;
    color: var(--c--white);
    text-align: center;

    @media (--mq-gt-s) {
        margin-bottom: 21.5%;
        padding: 0 4rem;
        text-align: left;
    }

    @media (max-height: 550px) {
        margin-bottom: 18.5%;
    }

    @media (max-width: 960px) {
        margin-bottom: 10.5%;
    }

    & h1,
    & h3 {
        @media (--mq-gt-s) {
            max-width: 48vw;
        }

        @media (min-width: 70rem) {
            max-width: 524px;
        }
    }

    & h1 {
        @media (max-width: 70rem) {
            font-size: 3.5rem;
        }

        @media (--mq-s) {
            padding: 0 1rem;
            font-size: var(--t--size-lm);
        }
    }

    & h3 {
        margin-bottom: 2rem;
        padding: 0 3rem;
        font-size: var(--t--size-s);

        @media (--mq-gt-s) {
            display: block;
            padding: 0;
            font-size: var(--t--size-m);
        }
    }
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
}

.dropdownInner {
    margin-top: 1rem;
    color: var(--c--black);
    background-color: var(--c--white);
    font-weight: var(--t--weight-normal);
    border-radius: 8px;
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
    transform:
        perspective(400px)
        rotate3d(-1, 0, 0, 5deg)
        scale3d(0.9, 0.9, 1);
    opacity: 0;
    pointer-events: none;
    transition: transform 150ms ease-in-out, opacity 150ms linear;

    &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: calc(50% - 8px);
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--c--white);
        border-left: 8px solid transparent;
    }

    &.active {
        transform:
            perspective(400px)
            rotate3d(1, 0, 0, 0)
            scale3d(1, 1, 1);
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
}

.dropdownBrands {
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
        height: 3rem;
        line-height: 3rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--c--gray-lighter);
        }

        & a {
            color: var(--c--black);
        }
    }
}

.contentWrap {
    display: flex;
    position: absolute;
    top: -20rem;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    @media (--mq-m) {
        top: 6.25rem;
    }

    @media (--mq-s) {
        top: 5rem;
        justify-content: flex-start;
    }
}

.blossom {
    display: none;
    position: relative;
    left: -4rem;
    margin: auto 0 -5rem;

    @media (--mq-gt-m) {
        display: inline;
    }
}

.products {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    align-items: flex-start;
    background-size: cover;
    background-position: 100% bottom;
    background-repeat: no-repeat;

    @media (--mq-s) {
        top: 17.5rem;
        bottom: -3rem;
    }

    @media (--mq-xs) {
        top: 19.5rem;
    }

    @media (--mq-gt-s) {
        height: 110%;
        background-size: 107.5% auto;
    }
}

.craft {
    @mixin container;

    display: flex;
    position: relative;
    flex-wrap: wrap;

    @media (--mq-gt-s) {
        flex-wrap: nowrap;
    }

    @media (max-width: 1280px) {
        margin: 2rem auto;
    }

    & .frame {
        margin-top: -3.5rem;
        transform: translateX(-15%) rotate(1deg);
    }

    & .corpContent {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        @media (--mq-gt-s) {
            margin-right: 4rem;
            padding: 0;
        }

        @media (--mq-gt-m) {
            margin: 0;
        }
    }
}

.history {
    @mixin container;

    display: flex;
    position: relative;
    flex-wrap: wrap;

    @media (--mq-gt-s) {
        flex-wrap: nowrap;
    }

    @media (max-width: 1280px) {
        margin: 2rem auto;
    }

    & .frame {
        margin-bottom: -3.5rem;
        transform: translateX(15%);
        order: 1;

        @media (--mq-gt-s) {
            order: 2;
        }
    }

    & .corpContent {
        padding-top: 4.5rem;
        padding-bottom: 1.5rem;
        order: 2;

        @media (--mq-gt-s) {
            margin-left: 4rem;
            padding: 0;
            order: 1;
        }

        @media (--mq-gt-m) {
            margin: 0;
        }
    }
}

.frame {
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    background: var(--c--white);
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.1);

    @media (--mq-gt-s) {
        padding: 0.75rem;
        min-width: 50vw;
        max-width: 70%;
    }

    & .image {
        width: 100%;
        height: 100%;
        padding-bottom: 61%;
        background-size: cover;
    }
}

.corpContent {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    & h1 {
        margin: 0 auto 1rem;
        font-size: var(--t--size-l);
        max-width: 300px;

        @media (--mq-m) {
            margin: 1rem auto;
        }
    }

    & p {
        max-width: 400px;
    }

    @media (--mq-gt-m) {
        padding: 0;

        & h1 {
            font-size: var(--t--size-xl);
            max-width: 400px;
        }

        & p {
            margin: 0 auto 1rem;
        }
    }
}

.coop {
    display: flex;
    position: relative;
    height: 20rem;
    align-items: center;
    background: var(--c--gray-darker);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    & img {
        top: -4rem;
        max-width: none;
    }

    @media (--mq-gt-s) {
        width: 110vw;
        height: 32rem;
        margin-left: -5vw;
    }

    @media (--mq-s) {
        & img {
            top: -20%;
            left: 50vw !important; /* stylelint-disable-line declaration-no-important */
            opacity: 0.6;
            zoom: 2;
            max-width: none;
        }
    }
}

.coopContent {
    @mixin container;

    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    z-index: 10;
    color: var(--c--white);
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    & p,
    & h2 {
        max-width: 450px;
    }

    & p {
        margin-bottom: 2rem;
        padding: 0 1.5rem;
    }

    & h2 {
        padding: 0 3.75rem;
        font-size: var(--t--size-lm);
    }

    @media (--mq-gt-s) {
        margin-right: 4rem;
        margin-left: 10vw;
        padding-bottom: 5%;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-end;

        & h2,
        & p {
            padding: 0;
            max-width: 25vw;
        }

        & h2 {
            font-size: var(--t--size-l);
        }
    }
}

.corporate {
    position: relative;
    padding-top: 3.5rem;
    z-index: 2;

    @media (--mq-s) {
        padding-top: 2.5rem;
    }
}
