@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    position: relative;
    height: 112px;
    z-index: 9999;
    background-color: var(--c--white);

    @media (--mq-s) {
        display: none;
    }
}

.logo {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.innerContainer {
    @mixin container;

    position: relative;
    height: 100%;
}

.primaryNavLinks,
.secondaryNavLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        display: inline-block;
    }
}

.secondaryNav {
    height: 40px;
    line-height: 40px;
    background-color: var(--c--blue-dark);

    &.brand--yellow {
        background-color: var(--c--yellow);
    }

    &.brand--green {
        background-color: var(--c--green);
    }

    &.brand--blue {
        background-color: var(--c--blue);
    }

    &.brand--yellow *,
    &.brand--green * {
        color: var(--c--black);
    }

    & .innerContainer {
        display: flex;
        justify-content: space-between;
    }

    & * {
        color: var(--c--white);
    }
}

.secondaryNavLinks {
    height: 100%;
    margin: 0;
    text-align: right;

    & li:not(:first-of-type) {
        padding-left: 2rem;
    }

    & a {
        color: var(--c--white);
        font-size: var(--t--size-xs);
    }
}

.primaryNav {
    @mixin container;

    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    font-size: var(--t--size-ms);
}

.primaryNavLinks {
    height: 100%;
    line-height: 72px;
}

.primaryNavLink {
    font-weight: var(--t--weight-medium);

    &:not(:first-of-type) {
        padding-left: 2.5rem;
    }

    &.active {
        color: var(--c--blue);
    }

    &.active button::after {
        border-top-color: var(--c--blue);
    }

    & a {
        color: var(--c--black);
    }

    & button {
        padding: 0;
    }

    & svg {
        vertical-align: middle;
    }

    & button::after {
        content: '';
        display: inline-block;
        margin-left: 1rem;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid var(--c--blue-dark);
    }
}
