@import 'constants/grid';

.preloading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    z-index: var(--l--z-highest);
    pointer-events: none;
}

.bar {
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.shown {
    & .bar :global {
        animation: loading 10s ease-in both; /* stylelint-disable-line */
    }
}

.done {
    & .bar :global {
        animation: done 1s ease-in both; /* stylelint-disable-line */
    }
}
