@import 'constants/color';
@import 'constants/grid';

.container {
    overflow-x: hidden;

    @media (--mq-m) {
        margin-top: 60px;
    }

    &.dark {
        background-color: var(--c--black);
    }
}
