@import 'constants/color';
@import 'constants/grid';

.container {
    overflow-x: hidden;

    &.dark {
        background-color: var(--c--black);
    }

    &.fixedWidth {
        @mixin container;

        margin: 2rem auto;

        @media (--mq-m) {
            margin-top: calc(60px + 2rem);
        }
    }
}
