@import 'constants/color';
@import 'constants/type';

.container {
    width: 72rem;
    height: 100%;
    background-color: var(--c--white);
    border: 1px solid var(--c--gray-lighter);
    border-radius: 8px;
    overflow: hidden;
}

.tiles {
    display: flex;
    height: calc(100% - 50px);
    margin: 0;
    padding: 0;

    & li:nth-child(3) {
        background-size: 66%;
        background-position: bottom -56px right -22px;

        &:hover {
            background-size: 68%;
        }
    }

    & h2 {
        max-width: 50%;
    }
}

.companyLinks {
    display: flex;
    height: 50px;
    margin: 0;
    padding: 0 0 0 1.5rem;
    align-items: center;
    list-style-type: none;
    background-color: var(--c--gray-lighter);
}

.companyLink {
    display: inline-block;

    &:not(:last-of-type) {
        margin-right: 32px;
    }

    & a {
        color: var(--c--black);
        font-size: var(--t--size-s);
        font-weight: var(--t--weight-normal);
    }
}
