@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    display: flex;

    /* Fixes a flexbox issue on IE where a fixed height must at least be set */
    height: 1px;
    min-height: 32rem;
    background-color: color(var(--c--blue) lightness(-15%));
    overflow: hidden;

    @media (--mq-s) {
        display: block;
        height: auto;
        min-height: 1px;
    }

    & .left,
    & .right {
        flex: 0 0 50%;

        @media (--mq-s) {
            width: 100%;
        }
    }
}

.left {
    background-size: cover;
    background-position: center;

    @media (--mq-s) {
        height: 28rem;
    }

    &.isVideo {
        position: relative;
        padding-top: 36.25%;
    }
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    height: 100%;
    padding: 2rem;
    flex-direction: column;
    max-width: 85%;

    @media (--mq-s) {
        padding: 1.5rem;
        max-width: 100%;
    }

    & h2,
    & p {
        color: var(--c--white);
    }

    & p {
        margin: 1rem 0;
    }
}

.head,
.foot,
.footContent {
    width: 100%;
}

.head {
    flex: 1;
    align-self: flex-start;
}

.foot {
    display: flex;
    flex: 2;
    align-self: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.labels {
    display: flex;
    align-items: center;

    & span {
        display: inline-block;
        color: var(--c--white);
        white-space: nowrap;
    }

    & span + span {
        margin-left: 1rem;
    }

    & svg {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
        fill: var(--c--white);
        vertical-align: middle;
    }
}

.meta {
    display: flex;
    color: var(--c--white);

    @media (--mq-s) {
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    & .metaItem {
        margin-right: 10%;

        @media (--mq-s) {
            margin-right: 0;
            flex: 0 0 50%;
        }
    }

    & p {
        margin: 0;
    }

    & p,
    & h3 {
        white-space: nowrap;
    }
}

.share {
    display: flex;
    align-items: center;
    font-weight: var(--t--weight-bold);
    color: var(--c--white);
}

.shareButton {
    margin-left: 0.75rem;
    margin-bottom: -7px;
    cursor: pointer;

    & svg {
        fill: var(--c--white);
    }

    &:hover {
        & svg {
            fill: color(var(--c--white) lightness(-10%));
        }
    }
}

.nutritionFacts {
    margin: 0 0 1rem;
    padding: 1rem 0;
    border-top: 1px solid color(var(--c--white) a(0.5));
    border-bottom: 1px solid color(var(--c--white) a(0.5));

    & p,
    & table {
        color: var(--c--white);
    }
}
