@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    border-top: 2px solid var(--c--gray-lighter);
    font-size: var(--t--size-xs);

    @media (--mq-s) {
        display: none;
    }
}

.innerContainer {
    @mixin container;
}

.header {
    display: flex;
    height: 4rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--c--gray-lighter);
}

.returnPolicy {
    margin: 1rem 0 0;
}

.social {
    flex: 1;
}

.socialLink {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 0.85rem;
    }

    & svg {
        height: 18px;
        fill: var(--c--black);
        vertical-align: middle;
    }

    & span {
        display: inline-block;
        text-indent: -10000px;
    }
}

.contact {
    & span:first-child {
        margin-right: 3rem;
    }

    & span a {
        color: var(--c--black);
        font-size: var(--t--size-xs);
    }

    & svg {
        width: 12px;
        height: 12px;
        margin-right: 0.5rem;
        fill: var(--c--black);
        vertical-align: middle;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navSection {
    display: flex;
}

.navListWrap {
    &:not(:first-child) {
        margin-left: 4rem;
    }

    & > a,
    & .sectionHeader {
        display: inline-block;
        margin-bottom: 0.75rem;
        padding-bottom: 0.5rem;
        font-size: var(--t--size-xs);
        color: var(--c--black);
        line-height: 1;
        border-bottom: 2px solid var(--c--gray-lighter);
    }
}

.navList {
    padding: 0;
    list-style: none;

    & li a {
        color: var(--c--gray-dark);
        font-size: var(--t--size-xs);

        &:hover {
            color: var(--c--gray-darker);
        }
    }
}

.copyright {
    height: 2.5rem;
    color: var(--c--white);
    font-size: var(--t--size-xs);
    font-weight: var(--t--weight-bold);
    line-height: 2.5rem;
    background-color: brown;
    background-size: contain;
}

/* themes */

.brand--gold {
    background-color: var(--c--alt-gray-dark);
    border-color: transparent;
    color: var(--c--white);

    & svg {
        fill: var(--c--alt-gray);
    }

    & a,
    & span a {
        color: var(--c--white);
    }

    & a:hover,
    & span a:hover {
        color: var(--c--white);
        opacity: 0.75;
    }

    & li a {
        color: var(--c--alt-gray);

        &:hover {
            color: var(--c--alt-gray);
            opacity: 0.75;
        }
    }

    & .header {
        border-color: var(--c--alt-gray-light);
    }

    & .navListWrap {
        & > a,
        & .sectionHeader {
            color: var(--c--white);
            border-color: var(--c--alt-gray-light);
        }
    }
}
