@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    &:not(:last-child) {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--c--gray-light);
    }

    & p:not(.user) {
        margin: 0 0 1%;
    }

    & p {
        font-size: var(--t--size-xs);
    }

    @media (--mq-s) {
        flex: 0 0 100%;
    }
}

.title {
    margin: 0;
}

.meta {
    display: flex;
    align-items: center;
    font-size: var(--t--size-xs);

    & div + div {
        margin-left: 1%;
    }
}

.date {
    margin-right: 0.5rem;
}

.date,
.user {
    color: var(--c--gray);
}

.user {
    margin: 0;
}
