@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

.container {
    @mixin container;

    @media (--mq-s) {
        padding: 0 1rem;
    }
}

.heading {
    @media (--mq-s) {
        margin-bottom: 2rem;
        font-size: var(--t--size-s);
        text-align: center;
    }
}

.products {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;

    @media (--mq-gt-s) {
        flex-wrap: no-wrap;
    }
}

.product {
    width: 48%;
    margin: 0 1% 1.5rem;
    text-align: center;

    & > div {
        max-width: 100%;

        &:first-child {
            margin-left: 0;
        }
    }

    @media (--mq-gt-s) {
        width: 15%;
        margin: 0;

        &:not(:last-child) {
            margin-right: 2%;
        }
    }
}

/* themes */

.dark {
    & .heading {
        color: var(--c--white);
    }
}

.crave {
    & .products {
        padding: 1rem 1.5rem;
        background-color: var(--c--gray-lighter);
        border-radius: var(--l--border-radius);
    }
}
