@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    display: flex;
    padding: 0 0 4rem;
    max-width: 100%;
    align-items: center;
    background-color: var(--c--gray-lighter);
    background-image: url(../../../assets/images/texture.png);

    &:first-child {
        padding-top: 2rem;
    }

    @media (--mq-gt-s) {
        padding: 2rem 0 5rem;

        &:first-child {
            padding-top: 4rem;
        }
    }
}

.innerContainer {
    @mixin container;

    text-align: center;

    & h2 {
        font-size: var(--t--size-m);
    }

    & p {
        margin: 0 auto 1rem;
        padding: 0 1rem;
    }

    @media (--mq-gt-s) {
        & h2 {
            font-size: var(--t--size-l);
        }

        & p {
            margin-bottom: 2.5rem;
            max-width: 50%;
            font-size: var(--t--size-m);
        }
    }
}
