@import 'constants/color';
@import 'constants/type';

.accordionItem {
    border-top: 1px solid var(--c--gray-dark);
    will-change: border-top;
    transition: border-top 300ms ease;

    &:nth-child(2) {
        border-bottom: 1px solid var(--c--gray-dark);
    }

    &:hover,
    &.isOpen {
        border-top-color: var(--c--black);

        &:nth-child(2) {
            border-bottom-color: var(--c--black);
        }

        &:not(:nth-child(2)) + .accordionItem {
            border-top-color: var(--c--black);
        }

        & svg {
            fill: var(--c--black);
        }
    }
}

.isOpen {
    & .accordionContent {
        max-height: 50rem;
    }

    & svg {
        transform: rotate(180deg);
    }
}

.accordionTitle {
    display: flex;
    position: relative;
    height: 3rem;
    align-items: center;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    & p {
        display: block;
        margin: 0;
        flex: 1;
    }

    & svg {
        width: 25px;
        height: 25px;
        fill: var(--c--gray-dark);
        will-change: fill;
        transition: fill 300ms ease;
    }
}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 300ms ease;

    & ul {
        padding: 0;
        list-style-type: none;
    }
}

.smartLabelLogo {
    padding: 0.75rem 0;
    text-align: right;

    & img {
        height: 20px;
    }
}

.nutritionPanel {
    & h5 {
        width: 100%;
        margin: 0 auto 0.5rem;
    }
}

.nutrition {
    width: 100%;
    margin: 0 auto 2rem;

    & .divider {
        background: var(--c--black);
        font-size: 0;
        line-height: 3px;
    }

    & .sublist {
        & td:first-child {
            padding-left: 1rem;
        }
    }

    & td {
        border-bottom: 1px solid var(--c--black);
    }
}
