@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

.related,
.reviews,
.back {
    @mixin container;
}

.related {
    @media (--mq-s) {
        margin-top: 2rem;

        & h3 {
            margin-bottom: 0;
        }
    }
}

.relatedCards {
    display: flex;
    padding: 1rem 0 3.5rem;
    justify-content: flex-start;
    flex-direction: row;

    @media (--mq-s) {
        flex-wrap: wrap;
    }
}

.reviews {
    @mixin container;
}

.reviewCards {
    display: flex;
    padding: 2rem 0 1rem;
    justify-content: flex-start;
    flex-direction: row;

    @media (--mq-s) {
        flex-wrap: wrap;
    }
}

.back {
    position: relative;
    margin: 1rem auto 2rem;
    z-index: 10001;

    @media (--mq-m) {
        margin: 120px auto 0;
        padding: 0;
        z-index: 0;
    }
}

.backLink {
    cursor: pointer;
    font-size: var(--t--size-xs);

    &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: -2px;
        margin-left: -5px;
        margin-right: 10px;
        border: 7px solid;
        border-color: transparent var(--c--gray) transparent transparent;
        vertical-align: middle;
    }

    &:hover {
        color: var(--c--blue);

        &::before {
            border-right-color: var(--c--blue);
        }
    }

    @media (--mq-m) {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0.5rem 1rem;
        background: var(--c--gray-lighter);
    }
}
