@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.container {
    display: block;
    margin: 0.2rem 0 0.4rem;

    & input {
        display: block;
        width: 21rem;
        height: 2.5rem;
        padding: 0 0.5rem;
        max-width: 100%;
        font-size: var(--t--size-s);
        border: 1px solid var(--c--gray-light);
        border-radius: 4px;

        @media (--mq-gt-s) {
            min-width: 21rem;
        }

        &:focus {
            outline: none;
            border-color: var(--c--blue);
        }
    }

    &[data-required='true'] .label::after {
        content: ' *';
        color: var(--c--red);
    }
}

.label {
    font-weight: var(--t--weight-medium);
}

.error {
    color: var(--c--red);

    & input,
    & input:focus {
        border-color: var(--c--red);
    }
}
