@import 'constants/color';
@import 'constants/type';

.categories {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    & > div:last-child .products {
        padding-bottom: 3rem;
    }
}

.title {
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: var(--t--weight-bold);
    background-color: var(--c--gray-lighter);
}

.products {
    display: flex;
    padding: 1.5rem 0.5rem;
    flex-wrap: wrap;
    background-color: var(--c--white);

    & > div {
        width: 50%;
        margin: 0 0 1.5rem;
    }
}
