@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    margin-bottom: 2rem;
    border: 2px solid var(--c--gray-lighter);
    border-radius: var(--l--border-radius);

    @media (--mq-s) {
        margin-bottom: 1rem;
    }
}

.title {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: var(--c--gray-lighter);
    font-size: var(--t--size-m);
    font-weight: var(--t--weight-semi-bold);
    color: var(--c--gray);

    &.isActive {
        color: var(--c--black);
    }
}

.contentContainer {
    max-height: 0;
    overflow: hidden;

    &.isActive {
        max-height: 100rem;
    }
}

.content {
    @mixin row;

    @media (--mq-s) {
        & button {
            width: 100%;
            margin: 1rem 0;
        }
    }

    @media (--mq-gt-s) {
        padding: 0.5rem;
    }

    &.isLast {
        @media (--mq-s) {
            padding: 0 8px;
            text-align: center;
        }

        @media (--mq-gt-s) {
            margin-top: 1rem;
            padding: 1rem;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

.half {
    width: 100%;

    @media (--mq-gt-s) {
        width: 50%;
    }
}

.disclose {
    font-size: var(--t--size-xs);
    color: var(--c--gray);
}

.red {
    color: var(--c--red);
}

.checkboxContainer {
    padding: 0 8px;

    & p {
        margin: 0;
    }

    & div {
        margin: 0.25rem 0;
    }

    & span {
        margin-right: 1rem;
    }
}

.multiInput {
    display: flex;
    align-items: flex-end;
}

.edit {
    position: absolute;
    top: 25%;
    right: 1rem;
    color: var(--c--gray);
    text-decoration: underline;
    font-size: var(--t--size-s);
    font-weight: var(--t--weight-normal);
}
