@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.hero {
    display: flex;
    height: 28rem;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;

    & h2 {
        margin-bottom: 2rem;

        @media (--mq-s) {
            font-size: var(--t--size-lm);
        }
    }

    @media (--mq-s) {
        padding: 2rem;
    }
}
