@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.hero {
    display: flex;
    height: 28rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    & h2 {
        margin: 0;

        @media (--mq-s) {
            font-size: var(--t--size-lm);
        }
    }

    @media (--mq-s) {
        padding: 2rem;
    }

    @media (--mq-gt-s) {
        margin-bottom: 4.5rem;
    }
}
