@import 'constants/type';
@import 'constants/color';
@import 'constants/grid';

.container {
    margin-bottom: 2rem;

    & p {
        margin: 0;
    }

    & label {
        margin: 0;
        padding: 0;
        font-size: var(--t--size-xs);
        border-radius: 100px;
        vertical-align: middle;

        &.disabled {
            color: var(--c--gray);
        }

        & input[type=checkbox] {
            display: none;
        }
    }
}

.title {
    padding: 0;
    line-height: 2.5rem;

    & .clearContainer {
        font-weight: var(--t--weight-bold);
        text-align: right;

        & .clearLabel {
            color: var(--c--red);
            font-size: 10px;
            cursor: pointer;
        }

        & .hidden {
            visibility: hidden;
        }

        @media (--mq-s) {
            visibility: hidden;
        }
    }

    & .titleContainer {
        font-weight: var(--t--weight-bold);
    }
}

.dropdown {
    position: relative;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    border: 1px solid var(--c--gray-light);
    border-radius: var(--l--border-radius);
    overflow: hidden;
    font-weight: 400;

    & .title {
        line-height: 2.5rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 1rem;
        right: 0.95rem;
        width: 0;
        height: 0;
        z-index: 10;
        border-width: 0.5em 0.33em 0;
        border-color: var(--c--gray-light) transparent transparent;
        border-style: solid;
        pointer-events: none;
    }

    &.expanded {
        height: auto;

        &::after {
            transform: rotate(180deg);
        }
    }

    & label:last-of-type {
        margin-bottom: 0.7rem;
    }
}

.checkbox {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin: 2px 8px -1px 2px;
    border: 1px solid var(--c--gray);

    & .checkboxContent {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 8px;
        height: 8px;
        margin: auto;
        background-color: var(--c--blue-light);
    }
}

.seeMore {
    font-size: var(--t--size-xs);

    &:hover,
    &:focus {
        cursor: pointer;
    }

    &.isHidden {
        display: none;
    }
}
