@import 'constants/color';

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--c--white);

    & div {
        background-position: right center;
    }

    & div:first-child {
        background-position: left center;
    }
}

.seperator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 160px;
    margin: auto;
    background-color: var(--c--black);
}
