@import 'constants/color';
@import 'constants/grid';

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--c--white);

    @media (--mq-s) {
        display: block;
    }

    & div {
        background-position: right center;
    }

    & div:first-child {
        background-position: left center;
    }
}

.seperator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 160px;
    margin: auto;
    background-color: var(--c--black);

    @media (--mq-s) {
        right: 3rem;
        left: 3rem;
        width: 35%;
        height: 2px;
    }
}
