@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    border-top: 2px solid var(--c--gray-lighter);
    background-color: var(--c--white);

    @media (--mq-gt-s) {
        display: none;
    }
}

.section {
    padding: 1rem 0;
    text-align: center;

    &:last-child {
        padding-bottom: 1rem;
    }

    & a {
        padding: 0 0.25rem;
        color: var(--c--black);
    }

    & svg {
        fill: var(--c--black);
        vertical-align: middle;
    }

    & a:not(:last-child) {
        margin-right: 0.5rem;

        & svg {
            margin-right: 0.5rem;
        }
    }

    & > div:first-child {
        margin-bottom: 0.5rem;
    }

    & > div.social {
        margin-bottom: 1rem;
    }
}

.returnPolicy {
    padding: 0.5rem 1rem;
    background: var(--c--gray-lighter);
    text-align: center;
}

.social a {
    padding: 0;
}

.copyright {
    color: var(--c--white);
    font-weight: var(--t--weight-bold);
    line-height: 2.5rem;
    text-align: center;
    background-color: brown;
    background-size: contain;
}

/* themes */

.brand--gold {
    background-color: var(--c--alt-gray-dark);
    border-color: transparent;
    color: var(--c--white);

    & svg {
        fill: var(--c--alt-gray);
    }

    & a {
        color: var(--c--alt-gray);

        &:hover {
            color: var(--c--alt-gray);
            opacity: 0.75;
        }
    }
}
