@import 'constants/color';
@import 'constants/grid';

.base {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media (--mq-gt-s) {
        position: relative;
        width: 12rem;
        min-width: 12rem;
    }
}

.wide {
    position: relative;
    width: 48rem;
    height: 100%;
    z-index: 0;
    min-width: 48rem;
    text-align: center;
    background-color: var(--c--white);
}

.white {
    composes: base;
    background-color: var(--c--gray-light);
}

.yellow {
    composes: base;
    background-color: var(--c--yellow-dark);
}

.blue {
    composes: base;
    background-color: var(--c--blue-dark);
}

.green {
    composes: base;
    background-color: var(--c--green-dark);
}
