:root {
    /* black and white */
    --c--white: #fff;
    --c--black: #223b4c;

    /* grays */
    --c--gray-lighter: #f1f3f6;
    --c--gray-light: #c1cad3;
    --c--gray: #90a2b0;
    --c--gray-dark: #60798e;
    --c--gray-darker: #2f506b;

    /* blues */
    --c--blue-light: #45c2f4;
    --c--blue: #1daeec;
    --c--blue-dark: #117cbc;
    --c--blue-darker: #074b8e;
    --c--blue-darkest: #234152;

    /* yellows */
    --c--yellow-light: #fed158;
    --c--yellow: #fdbb30;
    --c--yellow-dark: #f1a512;
    --c--yellow-darker: #c3890f;

    /* greens */
    --c--green-light: #46f2b9;
    --c--green: #5dcfa7;
    --c--green-dark: #41b98f;
    --c--green-darker: #24a278;

    /* reds */
    --c--red: #cb2222;
    --c--red-dark: #5b1212;
    --c--orange: #f26532;

    /* golds */
    --c--gold-light: #f2cc8e;
    --c--gold: #e2bb7d;
    --c--gold-dark: #dbac65;
}
