:root {
    /* black and white */
    --c--white: #fff;
    --c--black: #3d454c;

    /* grays */
    --c--gray: #acb6bf;
    --c--gray-light: #dae0e6;
    --c--gray-lighter: #f1f3f5;
    --c--gray-dark: #6c7680;

    /* blues */
    --c--blue: #1aa0e6;
    --c--blue-light: #4cc1ff;
    --c--blue-dark: #357eb3;
    --c--blue-darker: #33597f;

    /* yellows */
    --c--yellow: #fcca40;
    --c--yellow-light: #ffda73;
    --c--yellow-dark: #e6a82e;
    --c--yellow-darker: #bf832f;

    /* greens */
    --c--green: #45e6a5;
    --c--green-light: #8bf0c8;
    --c--green-dark: #00b16a;
    --c--green-darker: #078954;
}
