@import 'constants/color';
@import 'constants/type';
@import 'constants/grid';

.tile {
    display: flex;
    padding: 0 1.5rem;
    flex-grow: 1;
    color: var(--c--black);

    &:not(:last-child) {
        border-right: 1px solid var(--c--gray-lighter);
    }

    & a {
        color: var(--c--black);
    }

    & p {
        width: 100%;
        margin-bottom: 0;
    }

    & h2 {
        margin-bottom: 0;
        font-size: var(--t--size-m);
    }

    @media (--mq-s) {
        &:first-child {
            padding-top: 3rem;
        }
    }

    @media (--mq-gt-s) {
        width: 33.3%;
        margin: 1.5rem 0;
        padding-bottom: 5rem;
        flex-wrap: wrap;
        align-items: center;

        & h2 {
            max-width: 80%;
        }
    }
}
