@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    @mixin container;

    position: relative;
}

.section {
    display: flex;
    position: relative;
    padding: 6rem 0;
    min-height: 45rem;
    max-height: 56rem;
    background-color: var(--c--gray-dark);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    @media (--mq-s) {
        height: auto;
        padding: 2rem 0;
        min-height: 0;
        max-height: none;
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.details {
    composes: section;
    background-position: 50% top;
    background-size: 400%;

    & svg {
        display: block;
        width: 100px;
        height: 62px;
        margin: 0 auto 1.25rem;

        @media (--mq-gt-s) {
            width: 158px;
            height: 98px;
            margin-bottom: 2rem;
        }
    }

    & h2 {
        width: 14rem;
        margin: 0 auto 4rem;
        font-size: var(--t--size-lm);
        text-align: center;

        @media (--mq-gt-s) {
            width: 100%;
            font-size: var(--t--size-xxl);
        }
    }

    & p {
        margin-bottom: 0;
    }

    @media (--mq-gt-s) {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.detailsOverlay {
    composes: overlay;
    background-image:
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 35%,
            rgba(255, 255, 255, 1) 100%
        );

    @media (--mq-gt-s) {
        background-image:
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 60%
            );
    }
}

.detailsContainer {
    @mixin container;

    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}

.detailColumns {
    display: flex;
    padding: 0 2rem;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;

    @media (--mq-gt-s) {
        padding: 0;
        flex-wrap: nowrap;
    }
}

.detail {
    &:not(:last-child) {
        padding-right: 1rem;
    }

    @media (--mq-s) {
        &:not(:first-child) svg {
            margin-top: 2rem;
        }
    }
}

.innovation {
    composes: section;
    background-position: 20% 50%;

    @media (--mq-s) {
        min-height: 0;
    }

    & h2 {
        margin-bottom: 2rem;
        font-size: var(--t--size-m);
    }

    & p {
        margin-bottom: 0;

        @media (--mq-gt-s) {
            font-size: var(--t--size-m);
        }
    }
}

.innovationOverlay {
    composes: overlay;
    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 60%,
            rgba(255, 255, 255, 0) 100%
        );

    @media (--mq-gt-s) {
        background-image:
            linear-gradient(
                to right,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 30%,
                rgba(255, 255, 255, 0) 70%
            );
    }
}

.innovationContent {
    display: flex;
    height: 100%;
    padding: 0 2rem;
    align-content: center;
    flex-wrap: wrap;

    @media (--mq-gt-s) {
        width: 20rem;
        padding: 0;
    }
}

.facts {
    composes: section;

    & h2,
    & p {
        text-align: center;
    }

    & h2 {
        @media (--mq-s) {
            margin: -1rem 0 0;
            padding: 1rem;
            font-size: var(--t--size-lm);
            background:
                radial-gradient(
                    ellipse at center,
                    var(--c--white) 0%,
                    rgba(255, 255, 255, 0) 70%
                );
        }
    }

    & .factsHeadline {
        width: 24rem;
        margin: 0 auto 2rem;
        padding: 0 2rem;
        max-width: 100%;

        @media (--mq-gt-s) {
            margin-bottom: 0;
            padding: 0;
            font-size: var(--t--size-m);
        }

        @media (--mq-s) {
            margin: -1rem auto 1rem;
            padding: 1rem;
            background:
                radial-gradient(
                    ellipse at center,
                    var(--c--white) 0%,
                    rgba(255, 255, 255, 0) 70%
                );
        }
    }

    @media (--mq-s) {
        background-size: cover;
        background-position: 50% 0;
    }
}

.hotspots {
    @media (--mq-s) {
        display: none;
    }
}

.hotspotsMobile {
    @media (--mq-gt-s) {
        display: none;
    }
}

.hotspot {
    position: absolute;

    & span {
        display: block;
        width: 60px;
        height: 60px;
        color: var(--c--blue);
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        background-color: rgba(240, 240, 240, 0.9);
        border: 3px solid var(--c--white);
        border-radius: 50%;
        cursor: pointer;
        transition: transform 150ms ease;
        transform: scale(1);
    }

    &.isActive {
        & span {
            transform: scale(0);
        }

        & .hotspotContent {
            opacity: 1;
            transform: scale(1);
        }
    }

    @media (--mq-s) {
        opacity: 0;
    }
}

.hotspotContent {
    padding: 1rem;
    z-index: 9999;
    background-color: rgba(250, 250, 250, 0.98);
    border-radius: 12px;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    transition: opacity 150ms linear, transform 150ms ease;

    &::after {
        content: '';
        position: absolute;
        top: 77px;
        width: 24px;
        height: 24px;
        background: rgba(250, 250, 250, 0.98);
        transform: rotate(45deg);
        clip-path: polygon(0 100%, 100% 83%, 17% 0%);

        @media (--mq-s) {
            display: none;
        }
    }

    & h3 {
        color: var(--c--blue);
    }

    & p {
        margin-bottom: 0;
        text-align: left;
    }

    @media (--mq-s) {
        margin: 0 1rem;
        opacity: 1;
        transform: scale(1);
    }

    @media (--mq-gt-s) {
        position: absolute;
        top: -60px;
        width: 28rem;
        padding: 2rem;
        box-shadow: 0 15px 35px rgba(50, 50, 93, 0.4);
    }
}

.hotspotContentR {
    left: 80px;
    transform-origin: left center;
    composes: hotspotContent; /* stylelint-disable-line */

    &::after {
        left: -14.5px;
    }
}

.hotspotContentL {
    right: 80px;
    transform-origin: right center;
    composes: hotspotContent; /* stylelint-disable-line */

    &::after {
        right: -14px;
        transform: rotate(225deg);
    }
}

.tabs {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    justify-content: center;

    @media (--mq-gt-s) {
        display: none;
    }
}

.tab {
    width: 8px;
    height: 8px;
    margin: 0 6px;
    background-color: var(--c--white);
    border-radius: 50%;
}

.tabActive {
    background-color: var(--c--gray-darker);
}
