@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.pageContainer {
    overflow-x: hidden;
    background-color: var(--c--gray-lighter);
    background-image: url(images/backgrounds/hub-texture.png);
    background-size: 25%;

    @media (--mq-m) {
        margin-top: 60px;
    }
}

.timeline {
    position: relative;
    padding-top: 1rem;
    z-index: 50;

    @media (--mq-s) {
        padding-top: 0;
        overflow: initial;
    }
}

.line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 1px;
    transform: translateX(-50%);
    background-color: var(--c--blue);

    @media (--mq-s) {
        left: 8%;
    }
}

.container {
    @mixin container;

    max-width: 100%;
    background-size: contain, initial;
    background-repeat: no-repeat, repeat;
    background-blend-mode: multiply;

    &.isLeaves,
    &.isBurlap {
        background-position: right center;
    }

    &.isBurlap {
        @media (--mq-s) {
            background-position: right top;
            background-size: 80% auto;
        }
    }

    &.isLeaves {
        background-size: 12%, initial;
    }

    &.isPaint {
        background-position: left center;
        background-size: 25%, initial;
    }
}

.container:nth-child(even) {
    @media (--mq-s) {
        & .left {
            order: 2;
        }

        & .right {
            order: 1;
        }
    }
}

.row {
    @mixin row;

    padding: 0;
    min-height: 442px;
}

.frame {
    position: relative;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    background: var(--c--white);
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.1);

    @media (--mq-gt-s) {
        margin-bottom: -4rem;
        padding: 0.75rem;
    }

    @media (--mq-s) {
        max-width: 110%;
        min-width: 110%;

        &.isFirst {
            margin-top: -1rem;
            transform: translateX(0) rotate(1deg);
        }
    }

    & .image {
        width: 100%;
        padding-bottom: 85%;
        background-size: cover;

        @media (--mq-s) {
            padding-bottom: 75%;
        }
    }
}

.left,
.right {
    @mixin column-flex;

    display: flex;
    margin: 0;
    align-items: center;

    @media (--mq-s) {
        @mixin column-fixed (10/12);

        order: 2;
    }
}

.left {
    justify-content: flex-end;

    & .content {
        margin-right: 1rem;

        @media (--mq-m) {
            margin-left: 25%;
        }

        @media (--mq-s) {
            margin-right: 0;
            margin-left: 0;
        }
    }

    & .frame {
        transform: translateX(-3%) rotate(1deg);

        @media (--mq-s) {
            transform: translateX(10%) rotate(0deg);
        }
    }
}

.right {
    justify-content: flex-start;

    @media (--mq-s) {
        justify-content: flex-end;
    }

    & .content {
        margin-left: 1rem;

        @media (--mq-m) {
            margin-right: 25%;
        }

        @media (--mq-s) {
            margin-right: 0;
            margin-left: 0;
        }
    }

    & .frame {
        transform: translateX(3%) rotate(-1deg);

        @media (--mq-s) {
            transform: translateX(10%) rotate(0deg);
        }
    }
}

.center {
    @mixin column-fixed (1/12);

    margin: 0;

    @media (--mq-s) {
        margin: 0 1rem 0 -0.9rem;
        order: 1;
    }
}

.diamond {
    fill: var(--c--blue);
    max-width: 6.3vw;

    &.isEnd {
        display: block;
        margin: 0 auto 2rem;
    }

    @media (--mq-s) {
        margin: 1.5rem 0;
    }
}

.today {
    position: relative;
    padding: 95px 0 0;
    overflow: hidden;

    @media (--mq-s) {
        padding: 40px 1rem 0;
        overflow: initial;
    }

    & h2,
    & p {
        margin: 0 auto 2rem;
        text-align: center;
        max-width: 30rem;

        @media (--mq-s) {
            margin: 0;
            max-width: none;
            text-align: left;
        }
    }

    & h2 {
        @media (--mq-s) {
            font-size: var(--t--size-m);
        }
    }

    & p {
        @media (--mq-s) {
            font-size: var(--t--size-s);
        }
    }

    & .timelineRow {
        @media (--mq-s) {
            align-items: center;
        }
    }

    & .diamond {
        display: block;
        margin: 0 auto;
        max-width: 6.33vw;

        @media (--mq-s) {
            margin: 0;
        }
    }

    & .left {
        flex: 0 0 100%;
        order: 2;
        align-items: flex-start;
        justify-content: center;

        @media (--mq-s) {
            margin: 0 1%;
            flex: 0 0 81.33%;
        }
    }

    & .center {
        margin-bottom: 2rem;
        flex: 0 0 100%;

        @media (--mq-s) {
            margin-bottom: 0;
            flex: 0 0 6.33%;
        }
    }

    & .right {
        order: 3;
        flex: 0 0 100%;

        @media (--mq-s) {
            flex: 0 0 calc(100% + 2rem);
        }
    }
}

.todayImage {
    width: 100%;
    height: 530px;

    @media (--mq-s) {
        height: 250px;
    }

    & img {
        max-width: none;
    }
}

.content {
    width: 100%;
    max-width: 515px;

    @media (--mq-s) {
        width: 100%;
        margin: 0.5rem 0 2rem;
        max-width: inherit;
    }

    & h2 {
        margin-top: 1rem;

        @media (--mq-s) {
            font-size: var(--t--size-m);
        }
    }

    & p {
        margin-bottom: 0;
        font-size: var(--t--size-m);

        @media (--mq-s) {
            max-width: inherit;
            font-size: var(--t--size-s);
        }
    }
}
