@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.pageContainer {
    overflow-x: hidden;
    background-color: var(--c--gray-lighter);
    background-image: url(images/backgrounds/hub-texture.png);
    background-size: 25%;

    @media (--mq-m) {
        margin-top: 60px;
    }
}

.timeline {
    position: relative;
    padding-top: 1rem;
    z-index: 50;

    @media (--mq-s) {
        padding-top: 0;
        overflow: initial;
    }
}

.container {
    @mixin container;

    max-width: 100%;
    background-size: contain, initial;
    background-repeat: no-repeat, repeat;
    background-blend-mode: multiply;

    &.isLeaves,
    &.isBurlap {
        background-position: right center;
    }

    &.isBurlap {
        @media (--mq-s) {
            background-position: right top;
            background-size: 80% auto;
        }
    }

    &.isLeaves {
        background-size: 12%, initial;
    }

    &.isPaint {
        background-position: left center;
        background-size: 25%, initial;
    }

    &.isLast {
        @media (--mq-s) {
            overflow: hidden;
        }
    }
}

.container:nth-child(even) {
    @media (--mq-s) {
        & .left {
            order: 2;
        }

        & .right {
            order: 1;
        }
    }
}

.row {
    @mixin row;

    padding: 0;
    min-height: 442px;
}

.left,
.right {
    @mixin column-flex;

    display: flex;
    margin: 0;
    align-items: center;

    @media (--mq-s) {
        @mixin column-fixed (10/12);

        order: 2;
    }
}

.left {
    justify-content: flex-end;

    & .content {
        margin-right: 1rem;

        @media (--mq-m) {
            margin-left: 25%;
        }

        @media (--mq-s) {
            margin-right: 0;
            margin-left: 0;
        }
    }

    & .frame {
        transform: translateX(-3%) rotate(1deg);

        @media (--mq-s) {
            transform: translateX(0) rotate(0deg);
        }
    }
}

.right {
    justify-content: flex-start;

    @media (--mq-s) {
        justify-content: flex-end;
    }

    & .content {
        margin-left: 1rem;

        @media (--mq-m) {
            margin-right: 25%;
        }

        @media (--mq-s) {
            margin-right: 0;
            margin-left: 0;
        }
    }

    & .frame {
        transform: translateX(3%) rotate(-1deg);

        @media (--mq-s) {
            transform: translateX(0) rotate(0deg);
        }
    }
}

.center {
    @mixin column-fixed (1/12);

    margin: 0;

    @media (--mq-s) {
        order: 1;
    }
}

.frame {
    position: relative;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    background: var(--c--white);
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.1);

    @media (--mq-gt-s) {
        margin-bottom: -4rem;
        padding: 0.75rem;
    }

    @media (--mq-s) {
        max-width: 110%;
        min-width: 110%;

        &.isFirst {
            margin-top: -1rem;
            transform: translateX(0) rotate(1deg);
        }
    }

    & .image {
        width: 100%;
        padding-bottom: 85%;
        background-size: cover;

        @media (--mq-s) {
            padding-bottom: 75%;
        }
    }
}

.timebarWrap {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;

    &.isEnd {
        height: 35px;
        margin-bottom: 4rem;
        align-items: flex-end;

        & svg {
            margin-bottom: -2rem;
        }
    }
}

.timebar {
    @media (--mq-s) {
        display: none;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: -30px;
        left: calc(50% - 2px);
        width: 4px;
        z-index: 10;
        background-color: var(--c--blue);

        @media (--mq-s) {
            bottom: -150%;
        }
    }

    &.isStart {
        &::after {
            top: 50%;
        }
    }

    &.isEnd {
        &::after {
            top: 0;
            bottom: 0;
        }
    }

    & svg {
        width: 40px;
        height: 40px;
        fill: var(--c--blue);

        @media (--mq-s) {
            width: 20px;
            height: 20px;
        }
    }
}

.today {
    position: relative;
    overflow: hidden;

    @media (--mq-s) {
        overflow: initial;

        & .timebarWrap {
            @mixin column-fixed (2/12);

            margin: -1rem 0 0;
            z-index: 100;
            max-width: 14%;
        }

        & .timebar svg {
            margin-bottom: 9%;
            margin-left: 6%;
        }

        & .timebar::after {
            display: none;
        }
    }

    & h2,
    & p {
        margin: 0 auto 2rem;
        text-align: center;
        max-width: 30rem;

        @media (--mq-s) {
            margin: 0 auto 1rem;
            max-width: 15rem;
        }
    }

    & h2 {
        @media (--mq-s) {
            font-size: var(--t--size-m);
        }
    }

    & p {
        @media (--mq-s) {
            font-size: var(--t--size-s);
        }
    }

    & .timelineRow {
        @media (--mq-s) {
            align-items: center;
        }
    }
}

.todayImage {
    width: 100%;
    height: 530px;

    @media (--mq-s) {
        height: 250px;
    }

    & img {
        max-width: none;
    }
}

.content {
    width: 100%;
    max-width: 515px;

    @media (--mq-s) {
        width: 100%;
        margin: 0.5rem 0 2rem;
        max-width: inherit;
    }

    & h2 {
        margin-top: 1rem;

        @media (--mq-s) {
            font-size: var(--t--size-m);
        }
    }

    & p {
        margin-bottom: 0;
        font-size: var(--t--size-m);

        @media (--mq-s) {
            max-width: inherit;
            font-size: var(--t--size-s);
        }
    }
}
