/* Button Bar styles */
@import 'constants/grid';

.container {
    display: flex;
    margin: 2rem 0;

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    @media (--mq-xs) {
        flex-direction: column;
    }
}

.button {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    @media (--mq-gt-xs) {
        &:not(:last-child) {
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }
}
