@import 'constants/color';

.container {
    padding: 0;
    list-style: none;
}

.detail {
    padding: 1.5rem 1rem;
    background-color: var(--c--gray-lighter);
    border-radius: 4px;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    & p:last-child,
    & p > p:last-child {
        margin-bottom: 0;
    }
}
