@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.breadcrumbs {
    padding: 0;
}

.crumb {
    font-size: var(--t--size-xs);

    &:not(:last-child)::after {
        content: '';
        display: inline-block;
        margin: 0 0.9rem -2px 1.1rem; /* visually centered */
        opacity: 0.4;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 9px solid var(--c--black);
    }
}

.crumbLink {
    composes: crumb;
    color: var(--c--black);
}
