@import 'constants/color';
@import 'constants/grid';

.default {
    position: relative;
    height: 100%;
    background-color: var(--c--white);

    & ul {
        padding: 0;
        list-style-type: none;
    }

    @media (--mq-gt-s) {
        width: 11.5rem;
        height: 14.5rem;
        background-color: var(--c--gray-light);
    }
}

.brand--yellow {
    composes: default;
    background-color: var(--c--yellow-dark);
}

.brand--blue {
    composes: default;
    background-color: var(--c--blue-dark);
}

.brand--green {
    composes: default;
    background-color: var(--c--green-dark);
}

.two_wide {
    composes: default;

    @media (--mq-gt-s) {
        width: calc(74rem - 23rem);
        height: 14.5rem;
        background-color: var(--c--white);
    }
}
