@import 'constants/grid';
@import 'constants/color';
@import 'constants/type';

/* Hero Styles */

.container {
    display: flex;
    position: relative;
    height: 50vw;
    justify-content: center;
    align-items: center;
    background-color: var(--c--black);
    overflow: hidden;

    @media (--mq-s) {
        height: 59vw;
    }

    @media (--mq-xs) {
        height: 125vw;
    }

    &.hasVideo {
        align-items: flex-end;
        justify-content: flex-start;

        & h1 {
            max-width: 25%;
        }
    }

    &.videoOpen {
        & .innerContainer {
            z-index: -1;
            opacity: 0;
        }

        & .videoPlayer {
            z-index: 20;
            opacity: 1;
        }
    }
}

.innerContainer {
    @mixin container;

    position: relative;
    z-index: 10;
    text-align: center;
    opacity: 1;
    transition: opacity 200ms ease;

    &.hasVideo {
        padding-bottom: 5.5vw;
        text-align: left;

        & .playIcon a {
            justify-content: flex-start;
        }
    }

    & h1,
    & p {
        color: var(--c--white);
    }
}

.background {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-size: cover;
    background-position: center;
    opacity: 1;

    @media (--mq-m) {
        opacity: 0.6;

        &.onlyImage {
            opacity: 1;
        }
    }

    & video {
        width: 100%;

        @media (--mq-s) {
            width: 200%;
        }
    }
}

.playIcon {
    & a {
        display: flex;
        color: var(--c--white);
        font-weight: var(--t--weight-bold);
        justify-content: center;
        align-items: center;
    }

    & svg {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin-right: 1rem;
    }
}

.videoPlayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms ease;
    background-color: #000;

    &:hover {
        cursor: pointer;
    }
}
