@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    @mixin container;

    display: flex;
    position: relative;
    padding-bottom: 3.5rem;
    flex-direction: column;
    align-items: center;

    &.dark {
        color: var(--c--white);
    }

    @media (--mq-gt-s) {
        height: 440px;
        flex-direction: row;
    }
}

.content {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    order: 2;

    &.left {
        right: 0;
    }

    &.right {
        left: 0;
    }

    & h2 {
        margin: 0 auto 1rem;
        font-size: var(--t--size-l);
        max-width: 300px;

        @media (--mq-m) {
            margin: 1rem auto;
        }
    }

    & p {
        max-width: 400px;
    }

    & a,
    & button {
        margin-top: 1rem;
    }

    @media (--mq-gt-m) {
        position: absolute;
        width: 40%;
        padding: 0;

        & h1 {
            font-size: var(--t--size-xl);
            max-width: 400px;
        }

        & p {
            margin: 0 auto 1rem;
        }
    }
}

.frame {
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    background: var(--c--white);
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.1);
    order: 1;

    @media (--mq-gt-s) {
        position: absolute;
        padding: 0.75rem;
        min-width: 50vw;
        max-width: 70%;

        &.left {
            left: -10vw;
        }

        &.right {
            right: -10vw;
        }
    }

    @media (--mq-gt-l) {
        min-width: 65%;
    }

    @media (--mq-m) {
        &.left {
            transform: translate(-15%, -0.5rem);
        }

        &.right {
            transform: translate(15%, -0.5rem);
        }
    }

    & .imageWrap {
        width: 100%;
        height: 100%;
        padding-bottom: 61%;
        min-height: 100%;
        background-size: cover;
        background-position: center;
    }
}

.description {
    & p {
        margin-bottom: 0;
    }
}
