@import 'constants/grid';
@import 'constants/type';
@import 'constants/color';

.container {
    @mixin container;

    display: flex;
    padding: calc(60px + 1.5rem) 1.5rem 1.5rem;
    flex-wrap: wrap;

    @media (--mq-gt-m) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        flex-wrap: nowrap;
    }
}

.main {
    & h1 {
        margin-bottom: 1.5rem;
        font-size: var(--t--size-lm);

        &:last-of-type {
            margin-top: 2.5rem;
        }

        @media (--mq-gt-s) {
            font-size: var(--t--size-l);
        }
    }

    & button {
        margin-bottom: 1rem;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bulletList {
    padding: 0 0 0 1.25rem;

    @media (--mq-gt-s) {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.pressRelease {
    margin-bottom: 2.5rem;

    & h2 {
        font-size: var(--t--size-m);
    }

    & .date {
        margin-bottom: 0.5rem;
        color: var(--c--gray);
    }

    & svg path {
        fill: var(--c--blue);
    }
}

.document {
    font-weight: var(--t--weight-bold);

    &:last-child {
        margin-bottom: 1.5rem;
    }

    & a {
        color: var(--c--black);
    }
}

.colLeft {
    width: 64%;

    @media (--mq-s) {
        width: 100%;
    }
}

.colRight {
    width: 32%;
    margin-left: 4%;

    @media (--mq-s) {
        width: 100%;
        margin-left: 0;
    }
}
