@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    position: relative;
    height: 112px;
    z-index: 9999;
    background-color: var(--c--white);

    @media (--mq-m) {
        display: none;
    }
}

.logo {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 158px;
    height: 98px;
    margin: auto;
    z-index: var(--l--z-highest);
}

.innerContainer {
    @mixin container;

    position: relative;
    height: 100%;
}

.primaryNavLinks,
.secondaryNavLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        display: inline-block;
    }
}

.secondaryNav {
    height: 40px;
    font-weight: var(--t--weight-bold);
    line-height: 40px;
    background-color: var(--c--blue-dark);

    &.brand--yellow {
        background-color: var(--c--yellow);
    }

    &.brand--green {
        background-color: var(--c--green);
    }

    &.brand--blue {
        background-color: var(--c--blue-light);
    }

    & .innerContainer {
        display: flex;
        justify-content: space-between;
    }

    & svg {
        margin-right: 0.5rem;

        & path {
            fill: var(--c--white);
        }
    }

    &.brand--yellow a,
    &.brand--green a {
        color: var(--c--black);

        &:hover {
            color: var(--c--gray-darker);
        }
    }

    &.brand--yellow path,
    &.brand--green path {
        fill: var(--c--black);
    }
}

.secondaryNavLinks {
    height: 100%;
    margin: 0;
    font-size: var(--t--size-xs);
    text-align: right;

    & li:not(:first-of-type) {
        padding-left: 1rem;
    }

    & a {
        padding: 0.3rem 0.5rem;
        background: rgba(255, 255, 255, 0.3);
        border-radius: var(--l--border-radius);
        color: var(--c--white);
        will-change: background;
        transition: background 300ms ease;

        &:hover,
        &:active,
        &:focus {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    & svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        transform: translateY(-1px);
    }
}

.auth {
    & svg {
        margin-left: 0.5rem;
        margin-right: 0;
    }
}

.primaryNav {
    @mixin container;

    display: flex;
    position: relative;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}

.primaryNavLinks {
    height: 100%;
    line-height: 72px;
    font-size: var(--t--size-ms);
}

.primaryNavLink {
    font-weight: var(--t--weight-medium);

    &:not(:first-of-type) {
        padding-left: 2.5rem;
    }

    &.active {
        color: color(var(--c--black) shade(10%));
    }

    &.wide {
        padding-left: 0;
    }

    & > a {
        color: var(--c--black);
    }

    & svg {
        vertical-align: middle;
    }
}

.navPanelToggles {
    height: 100%;
}

.navPanelToggle {
    display: inline-block;
    font-size: var(--t--size-ms);
    font-weight: var(--t--weight-medium);
    line-height: 72px;
    cursor: pointer;
    transition: color 300ms ease;

    &:first-child {
        padding-right: 1.25rem;
    }

    &:not(:first-child):not(:last-child) {
        padding-left: 1.25rem;
    }

    &.active {
        color: var(--c--blue);
    }

    &.active::after {
        border-top-color: var(--c--blue);
    }

    &::after {
        content: '';
        display: inline-block;
        margin-left: 1rem;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid var(--c--blue-dark);
    }
}

.navPanel {
    position: absolute;
    top: 72px;
    right: 0;
    left: 0;
    margin-top: -0.5rem;
    min-height: 280px;
    max-width: 72rem;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 20px, 0);
    will-change: transform, opacity;
    transition: transform 300ms ease, opacity 300ms ease;

    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translate3d(0, 0, 0);
    }
}

.cart {
    position: relative;
    padding-left: 2.5rem;
}

.cartBadge {
    display: flex;
    position: absolute;
    top: 15px;
    right: -12px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: var(--c--white);
    font-size: 12px;
    border-radius: 50%;
    background-color: var(--c--red);
}

.dropdown {
    position: absolute;
    right: -4px;
    width: 22.5rem;
    margin-top: -0.5rem;
    padding: 0.5rem;
    font-size: var(--t--size-s);
    font-weight: var(--t--weight-normal);
    line-height: normal;
    background-color: var(--c--white);
    border-radius: 4px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: transform 250ms ease-in-out, opacity 250ms linear;

    &.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    &::before {
        content: '';
        position: absolute;
        top: -8px;
        right: 8px;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--c--white);
        border-left: 8px solid transparent;
    }
}
