@import 'constants/color';
@import 'constants/grid';
@import 'constants/type';

.container {
    position: relative;
    height: 112px;
    z-index: 9999;
    background-color: var(--c--white);

    @media (--mq-s) {
        display: none;
    }
}

.logo {
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 158px;
    height: 98px;
    margin: auto;
    z-index: var(--l--z-highest);
}

.innerContainer {
    @mixin container;

    position: relative;
    height: 100%;
}

.primaryNavLinks,
.secondaryNavLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
        display: inline-block;
    }
}

.secondaryNav {
    height: 40px;
    line-height: 40px;
    background-color: var(--c--blue-dark);

    &.brand--yellow {
        background-color: var(--c--yellow);
    }

    &.brand--green {
        background-color: var(--c--green);
    }

    &.brand--blue {
        background-color: var(--c--blue);
    }

    &.brand--yellow *,
    &.brand--green * {
        color: var(--c--black);
    }

    & .innerContainer {
        display: flex;
        justify-content: space-between;
    }

    & * {
        color: var(--c--white);
    }
}

.secondaryNavLinks {
    height: 100%;
    margin: 0;
    text-align: right;

    & li:not(:first-of-type) {
        padding-left: 2rem;
    }

    & a {
        color: var(--c--white);
        font-size: var(--t--size-xs);
    }
}

.primaryNav {
    @mixin container;

    display: flex;
    position: relative;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}

.primaryNavLinks {
    height: 100%;
    line-height: 72px;
    font-size: var(--t--size-ms);
}

.primaryNavLink {
    font-weight: var(--t--weight-medium);

    &:not(:first-of-type) {
        padding-left: 2.5rem;
    }

    &.active {
        color: var(--c--blue);
    }

    & a {
        color: var(--c--black);
    }

    & svg {
        vertical-align: middle;
    }
}

.navPanelToggles {
    position: relative;
    height: 100%;
}

.navPanelToggle {
    display: inline-block;
    font-size: var(--t--size-ms);
    font-weight: var(--t--weight-medium);
    line-height: 72px;
    cursor: pointer;

    &:first-child {
        padding-right: 1.25rem;
    }

    &:not(:first-child):not(:last-child) {
        padding-left: 1.25rem;
    }

    &.active {
        color: var(--c--blue);
    }

    &.active::after {
        border-top-color: var(--c--blue);
    }

    &::after {
        content: '';
        display: inline-block;
        margin-left: 1rem;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid var(--c--blue-dark);
    }
}

.navPanel {
    position: absolute;
    top: 72px;
    left: -1rem;
    height: calc(61px * 4);
    margin-top: -0.5rem;
    max-width: 72rem;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transform:
        perspective(400px)
        rotate3d(-1, 0, 0, 5deg)
        scale3d(0.9, 0.9, 1);
    will-change: transform, opacity;
    transition:
        transform 150ms ease-in-out,
        opacity 100ms linear;

    &.active {
        opacity: 1;
        pointer-events: all;
        transform:
            perspective(400px)
            rotate3d(1, 0, 0, 0)
            scale3d(1, 1, 1);
    }
}
